{% magic_with item_list.item_name as myModel %}
{% magic_with through_model as MyFkModel %}
{% magic_with slug_field_spec.name as mySlug %}

import uuid                                                                                 {% clean_up_py_imports %}
from django.db import models
from django.utils.text import slugify
{{ sections.model_imports(item_list)}}                                                      {% for item_list in res.item_lists_provided %}{% endfor %}
                                                                                            {% end_clean_up_py_imports %}
from app.models import Entity

class MyModel(Entity):                                                                      {% for item_list in _.item_lists_provided %}
    class Meta:                                                                             {% if sections.indexed_field_specs(item_list) %}
        indexes = [{{ sections.indexed_field_specs(item_list) }}]                           {% endif %}

{{ sections.model_fields(item_list) }}

    def save(self, *args, **kwargs):                                                        {% if sections.slug_field_specs(item_list) %}
        if self.mySlug is None:                                                             {% for slug_field_spec in sections.slug_field_specs(item_list) %}
            self.mySlug = slugify(self.{{ slug_field_spec.slug_src }})                      {% endfor %}
        super().save(*args, **kwargs)                                                       {% endif %}

    def __str__(self):
        return "MyModel: " + self.{{ item_list.type_spec.display_item_by }}

class MyModelMyFkModel(models.Model):                                                       {% for through_model in sections.get_through_models(item_list) %}
    id = models.UUIDField(primary_key=True, default=uuid.uuid4, editable=False)
    my_model = models.ForeignKey(MyModel, on_delete=models.CASCADE)
    my_fk_model = models.ForeignKey(MyFkModel, on_delete=models.CASCADE)

    def __str__(self):
        return "MyModelMyFkModel: " + self.my_model.name + " -> " + self.my_fk_model.name   {% endfor %}

                                                                                            {% endfor %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
