{% magic_with state.name as MyState %}
{% magic_with container.item.item_name as containerItem %}
{% magic_with container.named_item_list.typ.item_name as myListItem %}
{% magic_with named_item.typ.item_name as myItem %}
{% magic_with container.name as myContainer %}
{% magic_with type_spec.type_name as MyType %}
{% magic_with query.name as myQuery %}


{% section imports %}
import * as R from 'ramda';
import React from 'react';
import { makeAutoObservable } from 'mobx';
import { NestedDefaultPropsContext } from 'react-default-props-context';
import { cloneAndSetState, maybe, initRS } from 'src/api/ResourceState';
import { MyState } from 'src/{{ state.module.module_path }}/MyState';                           {% !! state in states %}
import { useMyState } from 'src/{{ state.module.module_path }}/hooks/useMyState';               {% !! state in states %}
import { dps, withDefaultProps } from 'src/app/defaultProps';
import { flags } from 'src/app/flags';
import { useUpdateStateReaction } from 'src/frames/hooks/useUpdateStateReaction';
import { lookUp, getIds } from 'src/utils/ids';
import { log } from 'src/utils/logging';
import { ObjT } from 'src/utils/types';
import { useMyQuery } from 'src/{{ query.api_spec.module_name }}/endpoints';                    {% !! query in queries %}
import { useQueryData } from 'src/api/hooks';
{% end_section %}


{% section preamble_hooks %}
  const {                                                                                                     {% for state in states %}
    myState,
  } = useMyState({
  });

  const myQuery = useQueryData(useMyQuery());                                                                 {% !! query in queries|sort(attribute="name") %}

  useUpdateStateReaction({
    getInputs: () => ({
      {{ named_item.typ.ts_var }}: {{ get_data_path(named_item) }},                                           {% for container in state.containers %}{% !! named_item in container.named_items %}
      {{ container.named_item_list.typ.ts_var }}: {{ get_data_path(container.named_item_list) }},             {% ?? container.named_item_list %}{% endfor %}
    }),
    updateState: (inputs) => {
      myState.myContainer.data.myListItems = inputs.myListItems ?? [];                                        {% for container in state.containers %}{% ?? container.named_item_list %}
      R.forEach(initRS, myState.myContainer.data.myListItems);
      myState.myContainer.data.myItem = inputs.myItem;                                                        {% !! named_item in container.named_items %}{% endfor %}
    },
    logState: () => {
      log('MyState updated', myState.getSummary());
    },
  });

  const [cache] = React.useState(() =>
    makeAutoObservable({
      get myListItems() {                                                                                     {% for named_item_list in state_provider.named_item_lists_provided %}
        return cloneAndSetState(
          {{ get_data_path(named_item_list) }}, {
            loading: [],
            updating: []
          }
        );
      },                                                                                                      {% endfor %}
      get myItem() {                                                                                          {% for named_item in state_provider.named_items_provided %}
        return cloneAndSetState(
          {{ get_data_path(named_item) }}, {
            loading: [],
            updating: []
          }
        );
      },                                                                                                      {% endfor %}
      get containerItems() {                                                                                  {% for state in states %}{% for container in state.containers %}{% if container.named_item_list %}
        const containerItemsDisplay = {{ get_data_path(container, state, "items") }};
        return cloneAndSetState(
          containerItemsDisplay, {
            loading: [],
            updating: []
          }
        );
      },                                                                                                      {% endif %}
      get containerItem() {                                                                                   {% if container.get_bvr("highlight") %}
        return cloneAndSetState(
          {{ get_data_path(container, state, "highlighted_item") }}, {
            loading: [],
            updating: []
          }
        );
      },                                                                                                      {% endif %}{% endfor %}{% endfor %}
    })
  );

  {{ "" }}                                                                                                    {% endfor %}
{% end_section %}


{% section preamble %}
    const getDefaultPropsContext = () => {
      const result: any = { defaultProps: {
        myState: () => myState,                                                                                 {% !! state in states %}
        myListItems: () => cache.myListItems,                                                                   {% !! named_item_list in state_provider.named_item_lists_provided %}
        myItem: () => cache.myItem,                                                                             {% !! named_item in state_provider.named_items_provided %}
      } };

      result.defaultProps = {                                                                                   {% for state in states%}{% for container in state.containers %}
        ...result.defaultProps,
        containerItems: () => cache.containerItems,                                                             {% ?? container.named_item_list %}
        containerItem: () => cache.containerItem,                                                               {% ?? container.get_bvr("highlight") %}
        containerItemsAddition: () => myState.myContainer.addition,                                             {% ?? container.get_bvr("addition") %}
        containerItemsDeletion: () => myState.myContainer.deletion,                                             {% ?? container.get_bvr("deletion") %}
        containerItemsDragAndDrop: () => myState.myContainer.dragAndDrop,                                       {% ?? container.get_bvr("dragAndDrop") %}
        containerItemsEditing: () => myState.myContainer.editing,                                               {% ?? container.get_bvr("editing") %}
        containerItemsFiltering: () => myState.myContainer.filtering,                                           {% ?? container.get_bvr("filtering") %}
        containerItemsHighlight: () => myState.myContainer.highlight,                                           {% ?? container.get_bvr("highlight") %}
        containerItemsSelection: () => myState.myContainer.selection,                                           {% ?? container.get_bvr("selection") %}
      };
      {{ "" }}                                                                                                  {% endfor %}{% endfor %}
      return result;
    };
    {{ "" }}
{% end_section %}


{% section lines %}
      <NestedDefaultPropsContext value={getDefaultPropsContext()}>
        {props.children}
      </NestedDefaultPropsContext>
{% end_section %}


{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
