{% magic_with moduleName = module.name %}
import React from 'react';
import { RouteTable } from '/src/routes/utils/RouteTable';
import { getRouteTable as getAuthRouteTable } from '/src/auth/routeTable';                       {% ?? _.react_app.auth_module %}
import { getRouteTable as getModuleNameRouteTable } from '/src/moduleName/routeTable';           {% for module in _.react_app.modules %}{% ?? module.routes %}{% endfor %}

export const createRouteTable = () => {
  const routeTable = new RouteTable();
  routeTable.addTable(getAuthRouteTable(), '');                                                  {% ?? _.react_app.auth_module %}
  routeTable.addTable(getModuleNameRouteTable(), '');                                             {% for module in _.react_app.modules %}{% ?? module.routes %}{% endfor %}
  return routeTable;
};

export const routeTable = createRouteTable();
export const RouteTableContext = React.createContext<RouteTable>(routeTable);

type PropsT = React.PropsWithChildren<{}>;

export const RouteTableProvider = (props: PropsT) => {
  return (
    <RouteTableContext.Provider value={routeTable}>
      {props.children}
    </RouteTableContext.Provider>
  );
};
