{% trim_newlines keep=1 %}

{% include_snippet "__moonleap__/dial.yaml.j2" %}
{% include_snippet "__moonleap__/docker-compose.yaml.j2" %}
{% include_snippet "__moonleap__/menu.yaml.j2" %}


DJANGO:                                                               {% if _.service|dot("django_app") %}
  cwd: ${/SERVER/src_dir}
  python: python                                                      {% endif %}


DOCKER_OPTIONS:                                                       {% if _.service and _.project.docker_compose %}
  '*':
    container: {{ _.project.kebab_name }}-dev_{{ _.service.name }}_1  {% endif %}


MAKE:                                                                 {% if _.service %}
  cwd: ${/SERVER/src_dir}                                             {% endif %}


NODE:                                                                 {% if _.service|dot("node_package") %}
  node_modules_dir: ${/SERVER/src_dir}/node_modules                   {% endif %}


PYTEST:                                                               {% if _.service|dot("pytest") %}
  capture: false
  cwd: ${/SERVER/src_dir}
  html_report: ${/SERVER/install_dir}/pytest_report.html              {% endif %}


ROOT:
  aliases:                                                            {% min_lines count=2 %}
    install: make install                                             {% ?? _.service %}
    pip-compile: make pip-compile                                     {% ?? _.service|dot("pip_compile") %}
    serve: {{ _.service.serve_command_dev }}                          {% ?? _.service|dot("serve_command_dev") %}
    shell: exec {{ _.service.shell }}                                 {% ?? _.service %}
{% include_snippet "__moonleap__/docker-compose-aliases.yaml.j2" %}   {% end_min_lines %}
  decorators:                                                         {% min_lines count=3 %}
    docker:
      - exec                                                          {% ?? _.service %}
      - make                                                          {% ?? _.service %}
      - pytest                                                        {% ?? _.service|dot("pytest") %}
      - django-manage                                                 {% ?? _.service|dot("django_app") %}{% end_min_lines %}
      - npm-link                                                      {% ?? _.service|dot("npm_source_maps") %}
      - npm-publish                                                   {% ?? _.service|dot("npm_source_maps") %}
      - tsc                                                           {% ?? _.service|dot("npm_source_maps") %}

SERVER:                                                               {% if _.service %}
  install_dir: {{ _.service.install_dir }}
  src_dir: ${/SERVER/install_dir}/src

TSC:                                                                  {% if _.service.npm_source_maps %}
  src_dir_map:
    {{ name }}: /npm/{{ name }}                                       {% !! name, dir in _.service.npm_source_maps.items() %}

MENU:
  session_id: {{ _.project.name|sn }}_tsc
  commands:
    stack:
    - dodo frontend.tsc --watch {{ name }}                            {% !! name, dir in _.service.npm_source_maps.items() %}
                                                                      {% endif %}{% endif %}
{% end_trim_newlines %}
