{% magic_with pipeline.output.item_name as redRose %}
import * as R from 'ramda';
import { RedRoseT } from "src/api/types/RedRoseT";                        {% for pipeline in __.pipelines %}{% endfor %}
import { input } from "skandha";

export class Inputs {
  @input redRoses: Array<RedRoseT> = [];                                  {% for pipeline in __.pipelines %}

  findRedRoseById(id: string): RedRoseT | undefined {
    return R.find(R.propEq('id', id), this.redRoses) as RedRoseT;
  }                                                                       {% endfor %}
}
{% end_magic_with %}
