{% magic_with pipeline.output.item_name as redRose %}
import { RedRoseT, RedRoseByIdT } from "src/api/types/RedRoseT";                  {% for pipeline in __.pipelines %}{% endfor %}
import { listToItemById } from 'src/utils/ids';
import { data, output } from 'skandha';

export class Outputs {
  @output redRosesDisplay: Array<RedRoseT> = [];                                  {% for pipeline in __.pipelines %}

  @data get redRoseById(): RedRoseByIdT {
    return listToItemById(this.redRosesDisplay);
  }                                                                               {% endfor %}
}
{% end_magic_with %}
