{% magic_with component_name as MyComponent %}


{% section attrs %}
{...selectionUIHandlers(props.selectionUIProps)}                                        {% ?? bvrs_has_selection %}
{...dragAndDropUIHandlers(props.dragAndDropUIProps)}                                    {% ?? bvrs_has_drag_and_drop %}
{% end_section %}


{% section styles %}
{                                                                                       {% if bvrs_has_selection or bvrs_has_highlight %}
  'MyComponent--selected': props.selectionUIProps.isSelected,                           {% ?? bvrs_has_selection %}
  'MyComponent--highlighted': props.isHighlighted,                                      {% ?? bvrs_has_highlight %}
},                                                                                      {% endif %}
`MyComponent--drag-${props.dragAndDropUIProps.dragState}`                               {% ?? bvrs_has_drag_and_drop %}
{% end_section %}


{% end_magic_with %}
