from app.tr import tr                                           {% ?? _.django_app.use_translation %}
from django.apps import AppConfig


class UsersConfig(AppConfig):
    name = "users"
    verbose_name = tr("users")                                  {% ?? _.django_app.use_translation %}