cookies.ts:
    include: {{ _.service.cypress|bool }}

mergeClickHandlers.ts:
    include: {{ _.react_app.has_flag("utils/mergeClickHandlers") }}

slugify.ts:
    include: {{ _.react_app.has_flag("utils/slugify") }}

slugify.index.ts:
    include: {{ _.react_app.has_flag("utils/slugify") }}
    name: index.ts

keyEvents.ts:
    include: {{ _.react_app.has_flag("app/keyboardHandler") }}

keyEvents.index.ts:
    include: {{ _.react_app.has_flag("app/keyboardHandler") }}
    name: index.ts
