{% magic_with myModel = item_list.item_name %}
{% clean_up_py_imports %}
from adminsortable2.admin import SortableInlineAdminMixin
{% end_clean_up_py_imports %}
from django.contrib import admin

from {{ _.module.name|sn }} import models
                                                                                                    {% for item_list, data in __.data %}
class MyModelInline(                                                                                {% if data.create_inline_model %}
    SortableInlineAdminMixin,                                                                       {% ?? data.type_spec.is_sorted %}
    admin.TabularInline
):
    model = models.MyModel
    extra = 3
                                                                                                    {% endif %}{% endfor %}

@admin.register(models.MyModel)                                                                     {% for item_list, data in __.data %}
class MyModelAdmin(admin.ModelAdmin):
    pass
                                                                                                    {% endfor %}
