{% magic_with res.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
import React from "react";
import { observer } from 'mobx-react-lite';
import { action, reaction } from "mobx";
import { YellowTulipsCtr } from "src/gardenFlowers/YellowTulipsCtr";
import { useStore } from "src/app/components/StoreProvider";

const YellowTulipsCtrContext = React.createContext<YellowTulipsCtr | undefined>(undefined);

export const YellowTulipsCtrProvider: React.FC = observer(({ children }) => {
  const { yellowTulipsStore } = useStore();
  const [ctr] = React.useState(() => {
    const ctr = new YellowTulipsCtr();
    return ctr;
  });

  React.useEffect(() => {
    const cleanUp = reaction(
      () => {
        return yellowTulipsStore.yellowTulipById
      },
      action((yellowTulipById: YellowTulipByIdT) => {
        ctr.inputs.yellowTulipById = yellowTulipById;
      })
    );
    return cleanUp;
  });

  return (
    <YellowTulipsCtrContext.Provider value={ctr}>{children}</YellowTulipsCtrContext.Provider>
  );
});

export const useYellowTulipsCtr = () => {
  const ctr = React.useContext(YellowTulipsCtrContext);
  if (!ctr) {
    throw new Error("useYellowTulipsCtr must be used within a YellowTulipsCtrProvider.");
  }
  return ctr;
};
{% end_magic_with %}
{% end_magic_with %}
