{% magic_with res.name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
import React from 'react';
import { observer } from 'mobx-react-lite';
import { useDefaultProps, FC } from 'react-default-props-context';

import "./YellowTulip.css"

type PropsT = {
};

type DefaultPropsT = {
};

export const YellowTulip: FC<PropsT, DefaultPropsT> = observer((p: PropsT) => {
  const props = useDefaultProps<PropsT, DefaultPropsT>(p);

  // TODO: Implement YellowTulip
  const formDiv = (
    <div className="YellowTulip flex flex-col w-full">
    </div>
  );

  return formDiv;
});
{% end_magic_with %}
{% end_magic_with %}
