{% magic_with res.name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
import { observer } from 'mobx-react-lite';
import classnames from 'classnames';
import { useDefaultProps, FC } from 'react-default-props-context';

import './YellowTulip.scss';

type PropsT = {
  className?: any;
};

type DefaultPropsT = {
};

export const YellowTulip: FC<PropsT, DefaultPropsT> = observer((p: PropsT) => {
  const props = useDefaultProps<PropsT, DefaultPropsT>(p);

  // TODO: Implement YellowTulip
  const div = (
    <div className={classnames("YellowTulip flex flex-col w-full", props.className)}>
    </div>
  );

  return div;
});
{% end_magic_with %}
{% end_magic_with %}
