{% magic_with res.item_name as yellowTulip %}
{% clean_up_js_imports %}
import { observer } from 'mobx-react-lite';
import { FC, useDefaultProps } from 'react-default-props-context';
import { YellowTulipT } from 'src/api/types/yellowTulip'
import { getResourceView } from 'src/utils/components';
{% end_clean_up_js_imports %}

import './{{ res.name }}.scss';

type PropsT = {
};

type DefaultPropsT = {
  yellowTulip: YellowTulipT
  yellowTulipRS: string
};

export const YellowTulipView: FC<PropsT, DefaultPropsT> = observer((p: PropsT) => {
  const props = useDefaultProps<PropsT, DefaultPropsT>(p);

  const resourceView = props.yellowTulipRS === 'loading' || !props.yellowTulip ? (
    <div>Loading...</div>
  ) : undefined;
  if (resourceView) return resourceView;

  return (
    <div className="YellowTulipView flex flex-col w-full">
{{ sections.fields() }}
    </div>
  );
});
{% end_magic_with %}
