{% magic_with res.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
{% clean_up_js_imports %}
import { observer } from 'mobx-react-lite';
import { FC, useDefaultProps } from 'react-default-props-context';
import { YellowTulipT } from 'src/gardenFlowers/types'
import { getResourceView } from 'src/utils/components';
{% end_clean_up_js_imports %}

import './{{ res.name }}.scss';

type PropsT = {
};

type DefaultPropsT = {
  yellowTulip: YellowTulipT
  yellowTulipResUrl: string
};

export const YellowTulipView: FC<PropsT, DefaultPropsT> = observer((p: PropsT) => {
  const props = useDefaultProps<PropsT, DefaultPropsT>(p);

  const resourceView = getResourceView({ resUrl: props.yellowTulipResUrl });
  if (resourceView) return resourceView;

  return (
    <div className="YellowTulipView flex flex-col w-full">
      To do: show yellowTulip with id {props.yellowTulip.id}
    </div>
  );
});
{% end_magic_with %}
{% end_magic_with %}
