{% magic_with __item_name as myItem %}


{% section preamble_hooks %}
    const [myItemIdx, setMyItemIdx] = React.useState(0);

    const moveBack = React.useCallback(
      () =>
        setMyItemIdx(myItemIdx > 0 ? myItemIdx - 1 : {{ __items_expr }}.length - 1),
      [myItemIdx, setMyItemIdx, {{ __items_expr }}]
    );

    const moveForward = React.useCallback(
      () =>
        setMyItemIdx(myItemIdx < {{ __items_expr }}.length - 1 ? myItemIdx + 1 : 0),
      [myItemIdx, setMyItemIdx, {{ __items_expr }}]
    );
    {{ "" }}
{% end_section %}


{% section preamble %}
const {{ __const_name }} = {{ __items_expr }}.map(({{ __item_name }}, idx) => {                 {% if __child_widget_div %}{% if __uniform_height %}
  {{ __child_widget_div }}
});
const {{ __const_name }} = (({{ __item_name }}) => {                                            {% else %}
  {{ __child_widget_div }}
})({{ __items_expr }}[{{ __item_name }}Idx]);                                                   {% endif %}
{{ "" }}                                                                                        {% endif %}
{% end_section %}


{% section lines %}
{ {{ __const_name }} }
{% end_section %}


{% end_magic_with %}
