{% magic_with _.component.item_name as myItem %}
  ...dps.myItems,
  ...dps.myItemsDeletion,                                                                      {% ?? __.deletion_bvr %}
  ...dps.myItemsDragAndDrop,                                                                   {% ?? __.drag_and_drop_bvr %}
  ...dps.myItemsHighlight,                                                                     {% ?? __.selection_bvr %}
  ...dps.myItemsSelection,                                                                     {% ?? __.selection_bvr %}
{% end_magic_with %}