{% magic_with res.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
import React from 'react';

import { EffectWithoutArgs } from 'src/utils/components';
import { useStore } from 'src/app/components/StoreProvider';

type PropsT = {};

export const LoadYellowTulipEffect: React.FC<PropsT> = (p: PropsT) => {
  const { gardenFlowersStore } = useStore();
  return (
    <EffectWithoutArgs
      f={() => {
        gardenFlowersStore.loadYellowTulip();
      }}
    />
  );
};
{% end_magic_with %}
{% end_magic_with %}
