{% magic_with myComponent = _.component.name %}
{% magic_with MyImportedComponent = component.name %}
import { withContextProps } from '/src/app/defaultProps';
import { cn } from '/src/utils/classnames';
import { observer } from 'mobx-react-lite';
import { MyImportedComponent } from '/src/{{ component.module.name }}/components/MyImportedComponent';            {% !! component in __.imported_components %}

// Import styles
import './MyComponent.scss';

export type PropsT = {
  className?: any;
};

const ContextProps = {};

export const MyComponent = observer(
  withContextProps((props: PropsT & typeof ContextProps) => {
    return (
      {{ __.main_div }}
    );
  }, ContextProps)
);

