{% magic_with pipeline.output.item_name as redRose %}
import * as R from 'ramda';
{% for pipeline in _.pipelines %}
import { RedRoseT } from "src/api/types/RedRoseT";
{% endfor %}
import { input } from "skandha";

export class Inputs {
{% for pipeline in _.pipelines %}
  @input redRoses: Array<RedRoseT> = [];

  findRedRoseById(id: string): RedRoseT | undefined {
    return R.find(R.propEq('id', id), this.redRoses) as RedRoseT;
  }
{% endfor %}
}
{% end_magic_with %}
