{% magic_with pipeline.output.item_name as redRose %}
{% for pipeline in _.pipelines %}
import { RedRoseT, RedRoseByIdT } from "src/api/types/RedRoseT";
{% endfor %}
import { listToItemById } from 'src/utils/ids';
import { data, output } from 'skandha';

export class Outputs {
  {% for pipeline in _.pipelines %}
  @output redRosesDisplay: Array<RedRoseT> = [];

  @data get redRoseById(): RedRoseByIdT {
    return listToItemById(this.redRosesDisplay);
  }

  {% endfor %}
}
{% end_magic_with %}
