import { FormState } from 'react-form-state-context';
import { formFields as ff, PropsT } from './index';
import { States } from '/src/auth/endpoints/states';
import { createFormErrorsObject } from '/src/forms/utils/createFormErrorsObject';
import { ObjT } from '/src/utils/types';

const getExternalErrors = (messages: ObjT, errors: Array<string>) => {
  const fieldErrors = createFormErrorsObject();

  if (errors?.includes(States.USERNAME_ALREADY_TAKEN)) {                                                    {% if _.module.uses_username %}
    fieldErrors[ff.username] = messages.divUsernameAlreadyTaken;
  }                                                                                                         {% endif %}
  if (errors?.includes(States.PASSWORD_TOO_SHORT)) {
    fieldErrors[ff.password] = messages.divSorryThatPasswordIsTooShort;
  }
  if (errors?.includes(States.ACTIVATION_TOKEN_NOT_FOUND)) {
    fieldErrors['global'] = messages.divTheActivationFailed;
  }
  if (errors?.includes(States.ACTIVATE_ACCOUNT_FAILED)) {
    fieldErrors['global'] = messages.divSorryTechnicalError;
  }
  return fieldErrors;
};

const getInitialValues = () => {
  return {
    [ff.password]: null,
    [ff.username]: null,                                                                                   {% ?? _.module.uses_username %}
    {% remove_trailing suffix="," %}
  };
};

const getHandleValidate =
  (messages: ObjT) =>
  ({
    values,
    setError,
  }: {
    values: FormState['values'];
    setError: FormState['setError'];
  }) => {
    if (!values.password) {
      setError(ff.password, messages.pleaseProvideANewPassword);
    } else if (values.username) {                                                                          {% if _.module.uses_username %}
      setError(ff.username, messages.pleaseProvideANewUsername);                                           {% endif %}
    } else if (values.password.length < 8) {
      setError(ff.password, messages.sorryThatPasswordIsTooShort);
    }
  };

const getHandleSubmit =
  (props: PropsT) =>
  ({ values }: { values: FormState['values'] }) => {
    return props.activateAccount(
      values[ff.username],                                                                                 {% ?? _.module.uses_username %}
      values[ff.password],
      {% remove_trailing suffix="," %}
    );
  };

export const form = {
  getExternalErrors,
  getInitialValues,
  getHandleValidate,
  getHandleSubmit,
};
