BackwardArrowIcon.tsx:
    include: {{ _.has_flag("frames/BackwardArrowIcon") }}

BackwardArrowIcon.index.tsx:
    include: {{ _.has_flag("frames/BackwardArrowIcon") }}
    name: index.tsx

ForwardArrowIcon.tsx:
    include: {{ _.has_flag("frames/ForwardArrowIcon") }}

ForwardArrowIcon.index.tsx:
    include: {{ _.has_flag("frames/ForwardArrowIcon") }}
    name: index.tsx
