{% magic_with myComponent = _.component.name %}
import { withDefaultProps } from '/src/app/defaultProps';
import { cn } from '/src/utils/classnames';
import { observer } from 'mobx-react-lite';

// Import styles
import './MyComponent.scss';

export type PropsT = {};

const DefaultProps = {};

export const MyComponent = observer(
  withDefaultProps((props: PropsT & typeof DefaultProps) => {
  }, DefaultProps)
);

