{% magic_with _.component.name as myComponent %}
.MyComponent {
}

.MyComponent__Panel {
  @apply p-4;                                                                   {% if _.service.uikit %}
  @apply bg-gray-100;                                                           {% endif %}
}

{% end_magic_with %}
