{% magic_with res.name as yellowTulip %}
import { useDefaultProps, FC } from 'react-default-props-context';
import classnames from 'classnames';
import { observer } from 'mobx-react-lite';

{{ res.p_section_imports }}

import './YellowTulip.scss';

type PropsT = {
  className?: any;
};

type DefaultPropsT = {
};

export const YellowTulip: FC<PropsT, DefaultPropsT> = observer((p: PropsT) => {
  const props = useDefaultProps<PropsT, DefaultPropsT>(p);
  return (
{{ res.p_section_div }}
  );
});
{% end_magic_with %}
