{% magic_with _.component.name as yellowTulip %}
{% clean_up_js_imports %}
import { withDefaultProps } from 'react-default-props-context';
import classnames from 'classnames';
import React from 'react';
import { observer } from 'mobx-react-lite';

{{ __.view_imports() }}
{% end_clean_up_js_imports %}

import './YellowTulip.scss';

{{ __.view_props_type() }}

type DefaultPropsT = {
};

export const YellowTulip = observer(
  withDefaultProps<PropsT, DefaultPropsT>((props: PropsT & DefaultPropsT) => {
    return (
      {{ __.view_div() }}
    );
  })
);
{% end_magic_with %}
