{% magic_with MyModel = model.name %}

import uuid                                                                                             {% clean_up_py_imports %}
from django.db import models
from app.models import Entity
from app.tr import tr                                                                                   {% if _.django_app.use_translation %}
from app.utils.case import u0                                                                           {% endif %}
                                                                                                        {% end_clean_up_py_imports %}

class MyModel(                                                                                          {% for model in __.django_models %}
    Entity                                                                                              {% ?? model.type_spec.is_entity %}
    models.Model                                                                                        {% ?? not model.type_spec.is_entity %}
):
    class Meta:                                                                                         {% min_lines count=2 %}
        ordering = ["sort_pos"]                                                                         {% ?? model.type_spec.is_sorted %}
        verbose_name = tr("{{ model.kebab_name }}")                                                     {% if _.django_app.use_translation %}
        verbose_name_plural = tr("{{ model.kebab_name|plural }}")                                       {% endif %}
                                                                                                        {% end_min_lines %}

    def __str__(self):
        return "MyModel"
                                                                                                        {% endfor %}
