{% magic_with MyFormType = form_type_spec.type_name %}
from api.types.{{ type_spec.type_name | lower }}_t import {{ type_spec.type_name}}T  # noqa: F401                  {% !! type_spec in __.public_type_specs %}
from api.types.{{ form_type_spec.type_name | lower }}_t import {{ form_type_spec.type_name }}T  # noqa: F401       {% !! form_type_spec in __.form_type_specs %}
