{% magic_with res.item_name as yellowTulip %}
import React from 'react';

import { EffectWithoutArgs } from 'src/utils/components';

type PropsT = {};

export const SelectYellowTulipEffect: React.FC<PropsT> = (p: PropsT) => {
  return (
    <EffectWithoutArgs
      f={() => {
      }}
    />
  );
};
{% end_magic_with %}
