{% magic_with item_list.item_name as yellowTulip %}
{% for item_list in res.module.store.item_lists %}
export const yellowTulips: YellowTulipT[] = [
  {
    id: "1",
    name: "first",
  },
  {
    id: "2",
    name: "second",
  },
]

{% endfor %}
{% end_magic_with %}