{% magic_with _.component.item_name as myItemName %}
.MyItemNameListViewItem {
  @apply cursor-pointer;                              {% if _.service.tailwindcss %}
  cursor: pointer;                                    {% else %}{% endif %}
}

.MyItemNameListViewItem--selected {                   {% if __.has_selection %}
  @apply bg-blue-200;                                 {% if _.service.tailwindcss %}
  background-color: #ffeb3b;                          {% else %}{% endif %}
}
                                                      {% endif %}

.MyItemNameListViewItem--highlighted {                {% if __.has_highlight %}
  @apply font-bold;                                   {% if _.service.tailwindcss %}
  font-weight: 800;                                   {% else %}{% endif %}
}

.MyItemNameListViewItem--drag-before {                {% if __.has_drag_and_drop %}
  border-top: solid;
}

.MyItemNameListViewItem--drag-after {
  border-bottom: solid;
}                                                     {% endif %}
                                                      {% endif %}
{% end_magic_with %}
