{
  "folders": [
    {
      "path": "{{ _.settings.vscode_project_root_dir }}"
    },
    {                                                               {% if __.has_vandelay %}
      "path": "{{ _.settings.vscode_project_root_dir }}/.vandelay"
    },                                                              {% endif %}
  ],
  "settings": {}
}