{% clean_up_py_imports %}
import graphene
from graphene.types.generic import GenericScalar
{% end_clean_up_py_imports %}
from api.types import *
{{ sections.query_imports() }}

class {{ res.name | u0 }}Query:
{{ sections.declare_query_endpoints() }}

{{ sections.query_resolve_functions() }}
