{% magic_with myItem = __.item_name %}
{% magic_with MyFormView = _.component.name %}
import { observer } from 'mobx-react-lite';
import React from 'react';
import { FormState, FormStateProvider } from 'react-form-state-context';
import { form } from './form';
import { dps, withDefaultProps } from '/src/app/defaultProps';
import { MainFormS } from '/src/dashboard/components/MainForm';
import {
  Field,
  FormCancelButton,
  FormFieldLabel,
  FormSaveButton,
  GlobalError,
  TextField,
} from '/src/forms/components';
import { L } from '/src/frames/layout';
import { cn } from '/src/utils/classnames';

// Import styles
import './MyFormView.scss';

export type PropsT = {
  className?: any;
};

export const DefaultProps = {
  ...dps.myItem,
  ...dps.myItemsEdit,
};

export const MyFormView = observer(
  withDefaultProps((props: PropsT & typeof DefaultProps) => {
    if (!props.myItem) {
      return null;
    }

    const initialValues = form.getInitialValues(props);
    const initialErrors = form.getInitialErrors(props);

    return (
      //
      // 🔳 MyFormView 🔳
      //
      <div
        className={cn('MyFormView', [
          props.className,
        ])}
      >
        {
          // 🔳 FormStateProvider 🔳
        }
        <FormStateProvider
          formStateRef={formStateRef}
          initialValues={initialValues}
          initialErrors={initialErrors}
          handleValidate={form.getHandleValidate(props)}
          handleSubmit={form.getHandleSubmit(
            props,
            initialValues,
            initialErrors
          )}
          handleCancel={form.getHandleCancel(props)}
        >
          {
            // 🔳 Global error 🔳
          }
          <GlobalError className={MainFormS.GlobalError()} />
          {
            // 🔳 Name field 🔳
          }
          <Field fieldName="myItemForm.name" className={MainFormS.Field()}>
            <FormFieldLabel label="Name" />
            <TextField
              autoFocus={true}
              placeholder="Name"
              tabIndex={1}
            />
          </Field>
          {
            // 🔳 Buttons 🔳
          }
          <div className={cn(MainFormS.Buttons())}>
            <FormCancelButton
              className={cn(MainFormS.Button.root(), MainFormS.Button.gap())}
              tabIndex={2}
              label="Cancel"
            />
            <FormSaveButton
              tabIndex={2}
              label="Save"
              className={cn(MainFormS.Button.root())}
            />
          </div>
        </FormStateProvider>
      </div>
    );
  }, DefaultProps)
);