docker-compose.dev.override.yml.j2:
    name: {{ _.docker_compose.override_fn }}
    include: {{ _.docker_compose.override_fn|bool }}

docker-compose.prod.yml.j2:
    include: {{ _.project.has_prod_config|bool }}