version: "3.7"

services:
  {{ service.name }}:                                                         {% for service in _.project.services %}
    build:                                                                      {% if service.dockerfile %}
      context: ./{{ service.name }}
      dockerfile: Dockerfile.dev                                                {% endif %}
    command: sleep infinity                                                     {% ?? service.serve_command_dev %}
    depends_on:                                                                 {% min_lines count=2 %}
      - {{ other_service.name }}                                                {% !! other_service in service.depends_on %}{% end_min_lines %}
    env_file:                                                                   {% min_lines count=2 %}
      - ./{{ service.name }}/.env/dev.injected.env                              {% end_min_lines %}
    environment:                                                                {% min_lines count=2 %}
      - DJANGO_SETTINGS_MODULE=app.settings.dev                                 {% ?? service.has_django_app %}{% end_min_lines %}
    image: {{ __.get_image(service) }}
    ports:                                                                      {% min_lines count=2 %}
      - {{ port }}:{{ port }}                                                   {% !! port in service.ports.values() %}{% end_min_lines %}
    volumes:
      - ./{{ service.name }}:{{ service.install_dir }}/src                      {% ?? service.dockerfile %}
      - postgres_data:/var/lib/postgresql/data                                  {% ?? service.name == "postgres" %}
      - {{ service.name }}_venv:{{ service.install_dir }}/env                   {% ?? service.pip %}
      - bundle:/app/bundle                                                      {% ?? service.use_create_bundle %}
                                                                              {% endfor %}
volumes:                                                                      {% min_lines count=2 %}
  postgres_data: {}                                                           {% ?? _.project.get_service_by_name("postgres", None) %}
  {{ service.name }}_venv: {}                                                 {% for service in _.project.services %}{% ?? service.pip %}{% endfor %}
  bundle: {}                                                                  {% ?? __.add_bundle_volume %}
                                                                              {% end_min_lines %}