{% magic_with myComponent = _.component.name %}
{% magic_with myItem = _.component.item_list.item_name %}
import { observer } from 'mobx-react-lite';
import { withContextProps } from 'react-props-from-context';
import { Selection } from 'skandha-facets/Selection';
import { Effect } from '/src/utils/components';
import * as R from 'ramda';
import {
  {{ _.component.item_list.item.ts_type }}
} from '/src/api/types/{{ _.component.item_list.item.ts_type }}';

type ArgsT = {
  myItemId?: string;                                                                  {% ?? __.get_item_id() %}
{{ __.select_effect_args() }}
};

type PropsT = {};

const ContextProps = {
  myItemsSelection: fooCtx.myItemsSelection,
  myItems: fooCtx.myItems,                                                            {% ?? __.get_item_id() %}
};

export const MyComponent = observer(
  withContextProps((props: PropsT & typeof ContextProps) => {
    return (
      <Effect
        getArgs={(params) => {
          return {
            myItemId: {{ __.get_item_id() }},                                         {% ?? __.get_item_id() %}
            {{ __.extract_params() }}
          }
        }}
        f={
          (args: ArgsT) => {
            if (args.myItemId) {
              props.myItemsSelection.selectItem({ itemId: args.myItemId});
            }
          }
        }
      />
    );
  }, ContextProps)
);
