{% clean_up_js_imports %}
import { RouteTable } from 'src/routes/RouteTable';
{{ sections.route_table_imports() }}
{% end_clean_up_js_imports %}

export const routeTable = new RouteTable();
{% for route_table in _.route_tables  %}
routeTable.addTable({{ route_table.name }}RouteTable, '');
{% endfor %}

export const routes = routeTable.routeByName;
