{% section imports %}
import { rowSkewer } from '/src/frames/components';
import {
  CancelButton,
  ControlledCheckbox,
  Field,
  GlobalError,
  SaveButton,
  SlugField,
  TextAreaField,
  TextField,
  UpdateSlugButton,
  ValuePickerField,
} from '/src/forms/components';
{% end_section %}


{% section lines %}
    <GlobalError />
    {{ form_fields_block }}
    <div className={cn(rowSkewer, "self-end")}>
      <CancelButton
        label="Cancel"
        disabled={false}
      />
      <SaveButton
        label="Save"
        disabled={false}
      />
    </div>
{% end_section %}
