// Adjust breakpoints to match tailwindcss
$breakpoint-xs: 320px !default;
$breakpoint-small: 480px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 976px !default;
$breakpoint-xlarge: 1280px !default;