@import 'src/frames/styles/breakpoints.scss';

$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-l: 18px;
$font-xl: 20px;
$font-title-xs: 19px;
$font-title-sm: 21px;
$font-title-md: 24px;
$font-title-l: 30px;
$font-title-xl: 38px;
$font-button: $font-sm;

$line-height-xxs: 20px;
$line-height-xs: 22px;
$line-height-sm: 24px;
$line-height-md: 26px;
$line-height-l-compact: 23px;
$line-height-l: 25px;
$line-height-l-extra: 30px;
$line-height-xl: 30px;
$line-height-title-xs: 28px;
$line-height-title-sm: 30px;
$line-height-title-md: 33px;
$line-height-title-md-extra: 35px;
$line-height-title-l: 40px;
$line-height-title-xl: 50px;

@mixin text-xxs {
    font-size: $font-xxs;
    line-height: $line-height-xxs;
}

.text-xxs {
    @include text-xxs();
}

@mixin text-xs {
    font-size: $font-xs;
    line-height: $line-height-xs;
}

.text-xs {
    @include text-xs();
}

@mixin text-sm {
    font-size: $font-sm;
    line-height: $line-height-sm;
}

.text-sm {
    @include text-sm();
}

@mixin text-md {
    font-size: $font-md;
    line-height: $line-height-md;
}

.text-md {
    @include text-md();
}

@mixin text-l {
    font-size: $font-l;
    line-height: $line-height-l;
}

.text-l {
    @include text-l();
}

@mixin text-xl {
    font-size: $font-xl;
    line-height: $line-height-xl;
}

.text-xl {
    @include text-xl();
}

@mixin title-xs {
    font-size: $font-title-xs;
    line-height: $line-height-title-xs;
}

.title-xs {
    @include title-xs();
}

@mixin title-sm {
    font-size: $font-title-sm;
    line-height: $line-height-title-sm;
}

.title-sm {
    @include title-sm();
}

@mixin title-md {
    font-size: $font-title-md;
    line-height: $line-height-title-md;
}

.title-md {
    @include title-md();
}

@mixin title-l {
    font-size: $font-title-l * 0.85;
    line-height: $line-height-title-l;

    @media screen and (min-width: $breakpoint-large) {
        font-size: $font-title-l;
    }
}

.title-l {
    @include title-l();
}

@mixin title-xl {
    font-size: $font-title-xl;
    line-height: $line-height-title-xl;
}

.title-xl {
    @include title-xl();
}