import UIkit from 'uikit';
import Icons from 'uikit/dist/js/uikit-icons';              {% ?? _.react_app.has_flag("app/UIkitIcons") %}

UIkit.use(Icons);                                           {% ?? _.react_app.has_flag("app/UIkitIcons") %}

export default UIkit;