{% section preamble %}
    if (isLoading({{ data_path }})) {
        return UIkit && <div data-uk-spinner className="" />;
    }
    else if ({{ test }}) return null;                                             {% ?? guard %}
    {{ "" }}
{% end_section %}
