{% section preamble %}
    if (!isLoaded({{ data_path }})) {
        return UIkit && <div data-uk-spinner className="" />;
    }
    else if ({{ test }}) return null;                                             {% ?? guard %}
    {{ "" }}
{% end_section %}
