import React from 'react';
import ReactDOM from 'react-dom/client';
import { App } from 'src/app/components';
import reportWebVitals from './reportWebVitals';                                      {% ?? _.has_flag("app/reportWebVitals") %}
import { toJS } from 'mobx';                                                          {% if _.has_flag("app/useStates") %}
import { setOptions } from 'skandha';                                                 {% endif %}
import { flags } from 'src/app/flags';
import { applyFormatters } from 'mobx-log';
import { RoutesProvider } from 'src/routes/components/RoutesProvider';                {% ?? _.react_app.routes_module %}
import { QueryClientProvider } from '@tanstack/react-query';                          {% ?? _.react_app.api_module %}
import { queryClient } from 'src/api/queryClient';                                    {% ?? _.react_app.api_module %}
import 'src/frames/styles/index.scss';                                                {% ?? _.react_app.frames_module %}

const strict = false;

const root = ReactDOM.createRoot(
  document.getElementById('root') as HTMLElement
);

if (process.env.NODE_ENV === 'development') {
  applyFormatters();
}

const body = (
  <QueryClientProvider client={queryClient}>                                          {% ?? _.react_app.api_module %}
    <RoutesProvider>                                                                  {% ?? _.react_app.routes_module %}
      <App />
    </RoutesProvider>                                                                 {% ?? _.react_app.routes_module %}
  </QueryClientProvider>                                                              {% ?? _.react_app.api_module %}
);

root.render(strict ? <React.StrictMode>{body}</React.StrictMode> : body);

// If you want to start measuring performance in your app, pass a function            {% if _.has_flag("app/reportWebVitals") %}
// to log results (for example: reportWebVitals(console.log))
// or send to an analytics endpoint. Learn more: https://bit.ly/CRA-vitals
reportWebVitals();                                                                    {% endif %}

setOptions({                                                                          {% if _.has_flag("app/useStates") %}
  logging: flags.logSkandha,
  formatObject: toJS,
});                                                                                   {% endif %}
