{% clean_up_js_imports %}
import React from 'react';
import ReactDOM from 'react-dom';
import { App } from 'src/app/components';
{{ sections.app_config_imports() }}
{% end_clean_up_js_imports %}
import './index.css';

const strict = false;

ReactDOM.render(
  strict ? (
    <React.StrictMode>
      <App />
    </React.StrictMode>
  ) : (
    <App />
  ),
  document.getElementById('root')
);

{{ sections.app_config_body() }}
