{% magic_with item_type.name as yellowTulip %}
{% if not [store for store in res.module.stores if len(store.items)] %}
export {}
{% endif %}

{% for store in res.module.stores %}
{% for item_type in store.items %}
export const yellowTulipById = {
  "1": {
    id: "1",
    name: "first",
  },
  "2": {
    id: "2",
    name: "second",
  },
}

{% endfor %}
{% endfor %}
{% end_magic_with %}