{% magic_with myModule = _.module.name %}
import { observer } from 'mobx-react-lite';
import React from 'react';
import { useInstallNavPage } from 'react-nav-handler';
import { withDefaultProps } from 'react-props-from-context';
import { navToFoo } from '/src/myModule/navEvents';
import { history } from '/src/routes/history';
import { getRouteUfns } from '/src/routes/routeTable';

export const createMyModuleNavPage = () => {
  return {
    navToFoo: (() => {
      const ufn = getRouteUfns<any>().foo(history.push);
      ufn();
    }) as typeof navToFoo,
  };
};

export type PropsT = React.PropsWithChildren<{}>;

export const MyModuleNavPage = (props: PropsT) => {
  useInstallNavPage('MyModuleNavPage', createMyModuleNavPage());
  return <>{props.children}</>;
};
