{% magic_with item_list.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
{% clean_up_js_imports %}
import { makeObservable } from 'mobx';
{% for api in res.apis %}
{{ api.import_api_section }}
{% endfor %}
{% if res.policies %}
import * as Policies from '{{ res.module_path }}/policies';
{% endif %}
{% end_clean_up_js_imports %}

{% for item_list in res.item_lists %}
import { YellowTulipT, YellowTulipByIdT } from 'src/gardenFlowers/types';
{% endfor %}

export class {{ res.name }} {
{{ res.construct_item_lists_section }}

  constructor() {
    makeObservable(this);
{% for policy in res.policies %}
    Policies.{{ policy.name }}()(this);
{% endfor %}
  }

{% for item_list, api in res.item_list_and_api_pairs %}
{{ api.item_list_io_section(item_list) }}
{% endfor %}

}
{% end_magic_with %}
{% end_magic_with %}