{% magic_with item_list.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
{% clean_up_js_imports %}
import { action, observable, makeObservable } from 'mobx';
import { values } from 'ramda';
import { rsMap } from 'src/api/ResourceStateMap';
import { isUpdatedRS, RST } from 'src/utils/RST';
{% if res.policies %}import * as Policies from '{{ res.module_path }}/policies';{% endif %}
{% for item_list in res.item_lists %}
import { YellowTulipT, YellowTulipByIdT } from 'src/gardenFlowers/types';
{% endfor %}
{% end_clean_up_js_imports %}

export const resUrls = {
{% for item_list in res.item_lists %}
  yellowTulipById: `{{ res.name }}/yellowTulipById`,
{% endfor %}
};

export class {{ res.name }} {
{{ res.item_list_fields_section }}
  constructor() {
    makeObservable(this);
{% for policy in res.policies %}
    Policies.{{ policy.name }}()(this);
{% endfor %}
  }

  @action onLoadData(event: any, rs: RST, queryName: string) {
{{ res.on_load_data_section }}
  }

{% for item_list in res.item_lists %}
  @action addYellowTulips = (yellowTulips: YellowTulipT[]) => {
    forEach((yellowTulip: YellowTulipT) => {
      this.yellowTulipById[yellowTulip.id] = yellowTulip;
    }, yellowTulips);
  };
{% endfor %}
}
{% end_magic_with %}
{% end_magic_with %}