{% magic_with _.query.name as getFooQuery %}
{% magic_with output_field_spec.name as outputFieldName %}
{% magic_with input_field_spec.name as inputFieldName %}
{% magic_with input_field_spec.graphql_type as inputFieldGqlType %}
from api.tests.codeblock import CodeBlock

def create_get_red_rose_query(
    input_field_name,                                                                                  {% for input_field_spec in __.input_field_specs %}{% endfor %}
    output_field_name_outputs=None,                                                                    {% for output_field_spec in __.fk_output_field_specs %}{% endfor %}

):
    root = CodeBlock(style="graphql")
    root.IxI("query getFooQuery", [
      $inputFieldName: inputFieldGqlType                                                               {% for input_field_spec in __.input_field_specs %}{% endfor %}
    ], " {")

    if output_field_name_outputs:                                                                      {% for output_field_spec in __.output_field_specs %}
        root.IxI("  outputFieldName", [
            {{ __.invoke_query_endpoint(output_field_spec) }}
        ], " {")
        root._x_("    ", output_field_name_outputs, "")
        root.abc("  }")                                                                                {% endfor %}

    root.abc("}")

    op_name = "getFooQuery"
    variables = dict(
      inputFieldName=input_field_name,                                                                 {% for input_field_spec in __.input_field_specs %}{% endfor %}
    )
    return root.result, op_name, variables
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
