Django                                      {% if _.service.has_django_app %}
django-admin-sortable2==1.0.4
django-cors-headers
django-extensions
django-rtk-green                            {% ?? _.service.django_app.user_accounts_module %}
graphene-django                             {% ?? _.service.django_app.api_module %}
                                            {% endif %}