Django
django-environ
django-cors-headers
graphene-django                             {% if _.service.graphene_django %}{% endif %}
django-rtk-green                            {% if _.service.graphql_auth %}{% endif %}
