{% magic_with rc.component_name as redRose %}
import React from 'react';
import { Router, Switch, Route } from 'react-router-dom';
import { observer } from 'mobx-react-lite';
import { createBrowserHistory } from 'history';
{{ res.get_route_imports() }}

type PropsT = {};

export const history = createBrowserHistory();

export const UrlRouter: React.FC<PropsT> = observer((props: PropsT) => {
  return (
    <Router history={history}>
      <Switch>
{{ res.get_routes() }}
      </Switch>
    </Router>
  );
});
{% end_magic_with %}
