{% magicwith item_type.name as redRose %}
{% magicwith item_type.store.module.name as gardenFlowers %}
import React from 'react';
import { Router, Switch, Route } from 'react-router-dom';
import { observer } from 'mobx-react-lite';
import { createBrowserHistory } from 'history';
{% for item_type in res.get_item_types() %}
import { {{ res.get_imports(item_type.name) }} } from 'src/gardenFlowers/components';
{% endfor %}

type PropsT = {};

export const history = createBrowserHistory();

export const UrlRouter: React.FC<PropsT> = observer((props: PropsT) => {
  return (
    <Router history={history}>
      <Switch>
{% for item_type in res.get_item_types() %}
        <Route path="/redRoses">
          <LoadRedRosesEffect />
          <Switch>
{% if res.has_list_view(item_type.name) %}
            <Route path="/redRoses">
              <RedRoseListView />
            </Route>
{% endif %}
{% if res.has_form_view(item_type.name) %}
            <Route path="/redRoses/:redRoseId/edit">
              <RedRoseFormView />
            </Route>
{% endif %}
          </Switch>
        </Route>
{% endfor %}
      </Switch>
    </Router>
  );
});
{% endmagicwith %}
{% endmagicwith %}
