{% magic_with res.name as yellowTulip %}
{% magic_with store.name as BlueDaisy %}
{% magic_with item_name as redRose %}
import { setCallbacks } from 'aspiration';
import {
  facet,
  getm,
  cleanUpCtr,
  mapDataToFacet,
  installPolicies,
  registerFacets,
  ClassMemberT as CMT,
} from 'skandha';
import { makeCtrObservable } from 'skandha-mobx';
import { getIds } from 'src/utils/ids';
import * as Facets from 'skandha-facets';
import * as FacetPolicies from 'skandha-facets/policies';
{% remove_duplicate_lines %}
{% for bvr in res.behaviors %}
{{ bvr.imports_section }}
{% endfor %}
{% end_remove_duplicate_lines %}

{% for item_name, store in res.store_by_item_name.items() %}
import { BlueDaisy } from '{{ store.module_path }}/BlueDaisy';
{% endfor %}
import { Inputs } from '{{ res.module_path }}/YellowTulipState/facets/Inputs';
import { Outputs } from '{{ res.module_path }}/YellowTulipState/facets/Outputs';
import * as Policies from './policies';
import * as Handlers from './handlers';

type PropsT = {
{% for item_name, store in res.store_by_item_name.items() %}
  blueDaisy: BlueDaisy;
{% endfor %}
};

export class YellowTulipState {
  @facet inputs = new Inputs();
  @facet outputs = new Outputs();
{{ res.constructor_section }}

{{ res.callbacks_section }}

{% for item_name, bvrs in res.bvrs_by_item_name.items() %}
  _applyRedRosesPolicies(props: PropsT) {
{{ res.declare_policies_section(item_name) }}
{% for bvr in bvrs %}
{{ bvr.declare_policies_section(bvrs) }}
{% endfor %}

    const policies = [
{{ res.policies_section }}
{% for bvr in bvrs %}
{{ bvr.policies_section(bvrs) }}
{% endfor %}
    ];

    installPolicies(policies, this.redRoses);
  }

{% endfor %}

  destroy() {
{% for item_name, bvrs in res.bvrs_by_item_name.items() %}
    cleanUpCtr(this.redRoses);
{% endfor %}
  }

  constructor(props: PropsT) {
    registerFacets(this, {});
    makeObservable(this);

{% for item_name, bvrs in res.bvrs_by_item_name.items() %}
    registerFacets(this.redRoses, { name: 'RedRoses' });
    this._setRedRosesCallbacks(props);
    this._applyRedRosesPolicies(props);
    makeCtrObservable(this.redRoses);

{% endfor %}
  }
}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
