{% magic_with item_type.name as RedRose %}
import { schema } from 'normalizr';

{% for item_type in _.item_types %}
export const redRose = new schema.Entity('redRoses');

{% endfor %}
{% for item_type in _.item_types %}
{{ sections.schema_fields(item_type) }}

{% endfor %}
{% end_magic_with %}