{% magic_with django_module.name as djangoModuleName %}
from django_rtk_green import django_rtk_green_apps                      {% ?? _.django_app.user_accounts_module %}

DJANGO_APPS = [
    "django.contrib.auth",
    "django.contrib.contenttypes",
    "django.contrib.sessions",
    "django.contrib.admin",
    "django.contrib.sites",
    "django.contrib.sitemaps",
    "django.contrib.staticfiles",
    "django.contrib.messages",
]

THIRD_PARTY_APPS = [
    "adminsortable2",
    "admin_reorder",                                                    {% ?? _.django_app.admin_reorder %}
    "corsheaders",
    "django_extensions",
    *django_rtk_green_apps,                                             {% ?? _.django_app.user_accounts_module %}
    "graphene_django",                                                  {% ?? _.django_app.api_module %}
    "graphql_jwt.refresh_token.apps.RefreshTokenConfig",                {% ?? _.django_app.user_accounts_module %}
]

LOCAL_APPS = [
    "django_module_name.apps.DjangoModuleNameConfig",                   {% !! django_module in _.django_app.modules %}
]

# https://docs.djangoproject.com/en/dev/ref/settings/#installed-apps
INSTALLED_APPS = DJANGO_APPS + THIRD_PARTY_APPS + LOCAL_APPS

ADMIN_REORDER = (
    "django_module_name",                                               {% for django_module in _.django_app.modules %}{% ?? django_module.django_models %}{% endfor %}
    "users",
    {                                                                   {% if _.django_app.user_accounts_module %}
        "app": "refresh_token",
        "label": "Django-RTK",
        "models": (
            "refresh_token.RefreshToken",
            "django_rtk_later.ActivationToken",
            "django_rtk_magic_link.MagicLinkToken",
            "django_rtk_password.PasswordResetToken",
        ),
    },                                                                  {% endif %}
    "auth",
    "sites",
)

{% end_magic_with %}