{% magic_with substore.name as RedRose %}
import { observable, makeObservable } from 'mobx';
{% for substore in res.substores %}
import { RedRose } from '{{ substore.module_path }}/RedRose';
{% endfor %}
{% if res.policies %}
import * as Policies from '{{ res.module_path }}/policies';
{% endif %}

export class AppStore {
{% for substore in res.substores %}
  @observable redRose: RedRose;
{% endfor %}

  constructor() {
    makeObservable(this);

{% for substore in res.substores %}
    this.redRose = new RedRose();
{% endfor %}

    this.applyPolicies();
  }

  applyPolicies() {
{% for policy in res.policies %}
    Policies.{{ policy.name }}()(this);
{% endfor %}
  }
}
{% end_magic_with %}