DJANGO_DATABASE_NAME={{ _.project.name }}_{{ __.django_service.name }}_service_dev
DJANGO_DATABASE_USER={{ _.project.name }}_{{ __.django_service.name }}_service_dev
DJANGO_DATABASE_PASSWORD=dev
DJANGO_SECRET_KEY="{{ __.django_service.django_app.secret_key_dev }}"
DJANGO_SUPERUSER_EMAIL=admin@{{ _.project.name }}.org
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin