{% magic_with res.item_name as yellowTulip %}
.YellowTulipListViewItem {
  @apply cursor-pointer;                              {% if res.module.react_app.has_tailwind_css %}
  cursor: pointer;                                    {% else %}{% endif %}
}
                                                      {% for bvr in res.bvrs %}
.YellowTulipListViewItem--selected {                  {% if bvr.name == "selection" %}
  @apply bg-yellow-400 font-bold;                     {% if res.module.react_app.has_tailwind_css %}
  background-color: #ffeb3b;                          {% else %}{% endif %}
}                                                     {% endif %}

.YellowTulipListViewItem--highlighted {               {% if bvr.name == "highlight" %}
  @apply border-4 border-blue-300;                    {% if res.module.react_app.has_tailwind_css %}
  border-color: #0070f3;                              {% else %}
  border-width: 4px;                                  {% endif %}
}                                                     {% endif %}
                                                      {% endfor %}
{% end_magic_with %}
