{% magic_with res.item_name as yellowTulip %}
import React from 'react';
import classnames from 'classnames';
import { observer } from 'mobx-react-lite';
import { YellowTulipT } from 'src/api/types/yellowTulip';

import './YellowTulipListViewItem.scss';

export type PropsT = {
  yellowTulip: YellowTulipT;
{% if _.deletion_bvr %}
  onDelete: Function;
{% endif %}
  className?: any;
  onClick?: any;
  onMouseDown?: any;
  onMouseUp?: any;
};

export const YellowTulipListViewItem: React.FC<PropsT> = observer((props: PropsT) => {
  return (
    <div
      className={classnames(
        'YellowTulipListViewItem', 'flex flex-col flex-1 mb-2',
        props.className
      )}
      onClick={props.onClick}
      onMouseDown={props.onMouseDown}
      onMouseUp={props.onMouseUp}
    >
{{ sections.fields() }}
{% if _.deletion_bvr %}
      <button
        onClick={() => {
          props.onDelete();
        }}
      >
        Delete
      </button>
{% endif %}
    </div>
  );
});
{% end_magic_with %}
