{% magic_with res.item_name as yellowTulip %}
.YellowTulipListViewItem {
{% if res.module.react_app.has_tailwind_css %}
  @apply cursor-pointer;
{% else %}
  cursor: pointer;
{% endif %}
}
{% for bvr in res.behaviors %}
{% if bvr.name == "selection" %}

.YellowTulipListViewItem--selected {
{% if res.module.react_app.has_tailwind_css %}
  @apply bg-yellow-400 font-bold;
{% else %}
  background-color: #ffeb3b;
{% endif %}
}
{% endif %}
{% if bvr.name == "highlight" %}

.YellowTulipListViewItem--highlighted {
{% if res.module.react_app.has_tailwind_css %}
  @apply border-4 border-blue-300;
{% else %}
  border-color: #0070f3;
  border-width: 4px;
{% endif %}
}
{% endif %}
{% endfor %}
{% end_magic_with %}
