import { cn } from 'src/utils/classnames';
import { UrlRouter } from 'src/routes/components';                          {% ?? _.react_app.routes_module %}
import './App.scss';

export const App = () => {
  return (
    <div
      className={cn(
        'App',
        'flex flex-col',
        'mx-auto xl:w-4/5',
    )}>
      <UrlRouter />                                                       {% ?? _.react_app.routes_module %}
    </div>
  );
}
