{% if _.service.django_app %}
{% include_snippet "__moonleap__/django.dev.injected.env.in.j2" %}
{% endif %}
{% if _.service.react_app %}
{% include_snippet "__moonleap__/react.dev.injected.env.in.j2" %}
{% endif %}
{% if _.service.name == "postgres" %}
{% include_snippet "__moonleap__/postgres.dev.injected.env.in.j2" %}
{% endif %}
