{% if _.service.has_django_app %}
{% include_snippet "__moonleap__/django.dev.injected.env.in.j2" %}
{% endif %}
{% if _.service.has_react_app %}
{% include_snippet "__moonleap__/react.dev.injected.env.in.j2" %}
{% endif %}
{% if _.service.has_postgres %}
{% include_snippet "__moonleap__/postgres.dev.injected.env.in.j2" %}
{% endif %}
