#																					{% if _.service.has_react_app %}
# React
#

create-bundle:																		{% if _.service.use_create_bundle %}
	rm -rf {{ _.service.install_dir }}/bundle/*
	yarn build
	cp -rf ./build/* {{ _.service.install_dir }}/bundle
																					{% endif %}
install:
	yarn install

run-dev-server:
	PORT=3001 yarn start

																					{% endif %}
