#																					{% if _.service.has_react_app %}
# React
#

install:
	yarn install

run-server:
	yarn start

create-bundle:																	    {% if _.service.use_create_bundle %}
	rm -rf /app/bundle/*
	yarn build
	cp -rf ./build/* /app/bundle													{% endif %}

																					{% endif %}
