#																					{% if _.service.has_django_app %}
# Django
#

collect-static:
	python manage.py collectstatic --link

create-superuser:
	python manage.py createsuperuser --noinput || true

make-migrations-users:																{% if _.service.django_app.get_module_by_name("users") %}
	python manage.py makemigrations users

																					{% endif %}
migrate:
	python manage.py migrate

run-server:
	python manage.py runserver 0.0.0.0:{{ _.service.ports.django_app }}
																					{% endif %}
