#																					{% if _.service.has_django_app %}
# Django
#

collect-static:
	python manage.py collectstatic --noinput

create-superuser:
	python manage.py createsuperuser --noinput || true

migrate:
	python manage.py migrate

run-dev-server:
	python manage.py runserver 0.0.0.0:${DJANGO_PORT}
																					{% endif %}
