{% magicwith res.item_name as yellowTulip %}
{% magicwith res.module.name as gardenFlowers %}
export { YellowTulipListView } from './YellowTulipListView'
export { YellowTulipListViewItem } from './YellowTulipListViewItem'
{% endmagicwith %}
{% endmagicwith %}
