{% magicwith res.item_name as yellowTulip %}
{% magicwith res.module.name as gardenFlowers %}
import React from 'react';
import { always, flow, map, values } from 'lodash/fp';
import { observer } from 'mobx-react-lite';
import { useStore } from 'src/app/components/StoreProvider';
import { ResourceView } from 'src/utils/components';
import { YellowTulipListViewItem } from 'src/gardenFlowers/components';

type PropsT = {
};

export const YellowTulipListView: React.FC<PropsT> = observer(() => {
  const { gardenFlowersStore } = useStore();

  const yellowTulipDivs = flow(
    always(gardenFlowersStore.yellowTulipById),
    values,
    map((x) => (
      <YellowTulipListViewItem
        key={x.id}
        yellowTulip={x}
      />
    ))
  )();

  const noItems = <h2>There are no yellowTulips</h2>;

  const updatedDiv = (
    <div className="YellowTulipListView flex flex-col w-full">
      {yellowTulipDivs.length && yellowTulipDivs}
      {!yellowTulipDivs.length && noItems}
    </div>
  );

  return (
    <ResourceView
      rs={gardenFlowersStore.yellowTulipByIdRS}
      renderUpdated={() => updatedDiv}
      renderErrored={(message) => {
        return <div className="text-white">{message}</div>;
      }}
    />
  );
});
{% endmagicwith %}
{% endmagicwith %}
