{% magicwith res.item_name as yellowTulip %}
{% magicwith res.module.name as gardenFlowers %}
import React from 'react';

import { EffectWithoutArgs } from 'src/utils/components';
import { useStore } from 'src/app/components/StoreProvider';

type PropsT = {};

export const {{ res.loader_name }}: React.FC<PropsT> = (p: PropsT) => {
  const { gardenFlowersStore } = useStore();
  return (
    <EffectWithoutArgs
      f={() => {
        gardenFlowersStore.loadYellowTulips();
      }}
    />
  );
};
{% endmagicwith %}
{% endmagicwith %}
