{% magicwith res.item_name as yellowTulip %}
{% magicwith res.module.name as gardenFlowers %}
import React from 'react';
import classnames from 'classnames';
import { observer } from 'mobx-react-lite';
import { YellowTulipT } from 'src/gardenFlowers/types';

export type PropsT = {
  yellowTulip: YellowTulipT;
};

export const {{ res.name }}Item: React.FC<PropsT> = observer((props: PropsT) => {
  return (
    <div className={classnames('{{ res.name }}Item flex flex-row flex-1 mb-2')}>
        {props.yellowTulip.name}
    </div>
  );
});
{% endmagicwith %}
{% endmagicwith %}
