{
  "folders": [
    {
      "path": "{{ settings.references.src }}"
    },
    {                                           {% for path in _.vscode_project.paths %}
      "path": "{{ path }}"
    },                                          {% endfor %}
  ],
  "settings": {}
}