{
  "folders": [
    {
      "path": "{{ settings.references.src }}"
    },
    {                                                               {% if __.has_vandelay %}
      "path": "{{ settings.references.src }}/.vandelay"
    },                                                              {% endif %}
  ],
  "settings": {}
}