{% magic_with MyKeyHandler = __.component_name %}
{% magic_with MyItem = __.item_name %}
import { withContextProps } from 'react-props-from-context';
import { cn } from '/src/utils/classnames';
import { observer } from 'mobx-react-lite';
import * as R from 'ramda';
import React from 'react';
import KeyboardEventHandler from 'react-keyboard-event-handler';
import { createHighlightKeyHandlers } from 'skandha-facets';
import { createSelectionKeyHandlers } from 'skandha-facets';
import { createKeyDownHandler } from '/src/utils';

export type PropsT = React.PropsWithChildren<{ className?: any }>;

const ContextProps = {
  myItemsHighlight: fooCtx.myItemsHighlight,                                                {% ?? __.has_highlight %}
  myItemsSelection: fooCtx.myItemsSelection,                                                {% ?? __.has_selection %}
};

export const MyKeyHandler = observer(
  withContextProps((props: PropsT & typeof ContextProps) => {
    const keyHandlers = {
      ...createHighlightKeyHandlers(props.myItemsHighlight),                                {% ?? __.has_highlight %}
      ...createSelectionKeyHandlers(props.myItemsSelection),                                {% ?? __.has_selection %}
    };
    const handledKeys = R.keys(keyHandlers);
    const onKeyDown = createKeyDownHandler(keyHandlers);

    return (
      <KeyboardEventHandler
        handleKeys={handledKeys}
        onKeyEvent={onKeyDown}
        className={cn('MyKeyHandler', [props.className])}
      >
        {props.children}
      </KeyboardEventHandler>
    );
  }, ContextProps)
);
