{% magic_with item_name as redRose %}
import { computed } from 'mobx';
{% for item_name, bvrs in res.bvrs_by_item_name.items() %}
import { RedRoseT, RedRoseByIdT } from '{{ res.type_import_path(item_name) }}';
{% endfor %}
import { listToItemById } from 'src/utils/ids';
import { output } from 'skandha';

export class Outputs {
{% for item_name, bvrs in res.bvrs_by_item_name.items() %}
  @output redRosesDisplay: Array<RedRoseT> = [];

  @computed get redRoseById(): RedRoseByIdT {
    return listToItemById(this.redRosesDisplay);
  }

{% endfor %}
}
{% end_magic_with %}
