.FilterComboItem__Check {
  @apply cursor-pointer;                          {% ?? _.service.tailwindcss %}
  @apply ml-4 mr-2;                               {% ?? _.service.tailwindcss %}

  height: 10px;
  width: 10px;
  filter: saturate(0%);
}