@import 'src/frames/index.scss';

.Field {
  @apply py-2;                                          {% ?? _.service.tailwindcss %}

  .Field__SmartLabel {
    @apply text-base;                                   {% ?? _.service.tailwindcss %}
  }

  textarea, input {
    @apply border-b border-black;
    background-color: transparent !important;
  }
}