import { useFormStateContext } from 'react-form-state-context';
import { primaryButton } from 'src/frames/components';

export type PropsT = {
  label: string;
  disabled?: boolean;
  tabIndex?: number;
  className?: any;
};

export const SaveButton = (props: PropsT) => {
  const formState = useFormStateContext();
  return (
    <button
      className={props.className ?? `${primaryButton} self-end`}
      tabIndex={props.tabIndex}
      onClick={(e) => {
        e.preventDefault();
        formState.submit();
      }}
      disabled={props.disabled || formState.getFlag('submitting')}
    >
      {props.label}
    </button>
  );
};