.TextAreaField {
  @apply text-lg;                                           {% if _.service.tailwindcss %}

  textarea {                                                {% endif %}
    width: 100%;
  }
}