{% magic_with item_list.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
{% remove_duplicate_lines %}
{% for api in res.apis %}
{{ api.import_api_section }}
{% endfor %}
{% end_remove_duplicate_lines %}

{% for item_list in res.item_lists %}
import { YellowTulipT, YellowTulipByIdT } from 'src/gardenFlowers/types';
{% endfor %}

export class {{ res.name }} {
{% for item_list, api in res.item_list_and_api_pairs %}
{{ api.construct_item_list_section(item_list) }}
{% endfor %}

  constructor() {
    makeObservable(this);
  }

{% for item_list, api in res.item_list_and_api_pairs %}
{{ api.item_list_io_section(item_list) }}
{% endfor %}

}
{% end_magic_with %}
{% end_magic_with %}