{% magicwith item.name as yellowTulip %}
{% for item in res.items %}
export type YellowTulipT = {
    id: string,
    name: string
}

export type YellowTulipByIdT = {[id:string]: YellowTulipT};

{% endfor %}
{% endmagicwith %}
