{% magic_with item_type.name as yellowTulip %}
{% for item_type in res.item_types %}
export type YellowTulipT = {
    id: string,
    name: string
}

export type YellowTulipByIdT = {[id:string]: YellowTulipT};

{% endfor %}
{% end_magic_with %}
