{% magic_with item_list.item_name as yellowTulip %}
{% for item_list in res.item_lists %}
export type YellowTulipT = {
{{ res.sections.item_fields(item_list.item_name) }}
}

export type YellowTulipByIdT = { [id:string]: YellowTulipT };

{% endfor %}
{% end_magic_with %}
