{% magic_with item_list.item_name as yellowTulip %}
{% for item_list in res.item_lists %}
{{ sections.define_type(item_list.item_name) }}

{{ sections.define_form_type(item_list.item_type) }}

export type YellowTulipByIdT = { [id:string]: YellowTulipT };

{% endfor %}
{% end_magic_with %}
