import typing as T

{% clean_up_py_imports %}
from django.conf import settings
from django.contrib import admin
from django.urls import include, path
from django.views.decorators.csrf import csrf_exempt
from graphene_django.views import GraphQLView                                       {% if _.service.django_graphene %}{% endif %}

{% end_clean_up_py_imports %}

from app.utils.serve_static import serve_static

urlpatterns = (
    T.cast(
        T.Any,
        [
            path(r"admin/", admin.site.urls),
            path(r"graphql/", csrf_exempt(GraphQLView.as_view(graphiql=True))),     {% if _.service.django_graphene %}{% endif %}
        ],
    )
    + serve_static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)
)
