{% clean_up_py_imports %}
from django.conf import settings
from django.conf.urls.static import static
from django.urls import path
from django.views.decorators.csrf import csrf_exempt
{% for url_import in res.config.urls_imports %}
{{ url_import }}
{% endfor %}
{% end_clean_up_py_imports %}

urlpatterns = [
{% for url in res.config.urls %}
    {{ url}},
{% endfor %}
] + static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)
