{% magic_with bvrItem = bvr.container.item_name %}
{% magic_with listItem = data.item_list.item_name %}
{% magic_with MyState = state.name %}
{% magic_with singleItem = data.item.item_name %}
import { stub, withDefaultProps } from 'react-default-props-context';
import { {{ bvr.name|u0 }} } from 'skandha-facets';                              {% !! bvr in __.skandha_bvrs %}
import { {{ item_name|u0 }}T } from '/src/api/types/{{ item_name|u0 }}T';        {% !! item_name in __.item_names %}
import { MyState } from '/src/{{ state.module.name }}/MyState';                  {% !! state in __.provided_states %}
export { stub, withDefaultProps } from 'react-default-props-context';

// This is a workaround for a bug in webpack
!withDefaultProps && (console as any).log(withDefaultProps);

const dpsStates = {                                                             {% if __.provided_states %}
    myState: {                                                                  {% for state in __.provided_states|sort(attribute="name") %}
      myState: stub as MyState,
    },                                                                          {% endfor %}
}                                                                               {% endif %}

const dps{{ item_name|u0|plural }} = {                                          {% for item_name, data in __.provided_data.items() %}
    listItems: {                                                                {% if data.item_list %}
      listItems: stub as ListItemT[],
    },                                                                          {% endif %}
    singleItem: {                                                               {% if data.item %}
      singleItem: stub as SingleItemT,
    },                                                                          {% endif %}
    bvrItems{{ bvr.facet_name|u0 }}: {                                          {% for bvr in data.bvrs|sort(attribute="name") %}
      bvrItems{{ bvr.facet_name|u0 }}: stub as IPagination,                     {% ?? bvr.name == "pagination" %}
      bvrItems{{ bvr.facet_name|u0 }}: stub as {{ bvr.name|u0 }},               {% ?? bvr.name != "pagination" %}
    },                                                                          {% endfor %}
};
{{ "" }}                                                                        {% endfor %}

export const defaultProps = {
    ...{{ section_name }},                                                      {% !! section_name in __.section_names() %}
};

export const dps = defaultProps;
