{% clean_up_py_imports %}
import graphene
from graphene.types.generic import GenericScalar
{% end_clean_up_py_imports %}
{{ sections.graphene_query_imports() }}


class GrapheneNonEmptyQuery(graphene.ObjectType):
    test_query = graphene.Field(graphene.String)

    def resolve_test_query(self, root, info, **kwargs):
        return "Hello world"


class Query({{ sections.query_base_classes() }}):
    pass
