ListViewItem.tsx.j2:
    name: {{ _.component.item_name|u0 }}ListViewItem.tsx
ListView.tsx.j2:
    name: {{ _.component.item_name|u0 }}ListView.tsx
ListView.scss.j2:
    name: {{ _.component.item_name|u0 }}ListView.scss
ListViewItem.scss.j2:
    name: {{ _.component.item_name|u0 }}ListViewItem.scss

