ListView.tsx.j2:
    name: {{ _.component.name|u0 }}.tsx
ListView.scss.j2:
    name: {{ _.component.name|u0 }}.scss
ListViewItem.tsx.j2:
    name: {{ _.component.name|u0 }}Item.tsx
ListViewItem.scss.j2:
    name: {{ _.component.name|u0 }}Item.scss

