{% magic_with _.component.item_name as yellowTulip %}
.YellowTulipListViewItem {
  @apply cursor-pointer;                              {% if _.service.tailwindcss %}
  cursor: pointer;                                    {% else %}{% endif %}
}

.YellowTulipListViewItem--selected {                  {% if __.has_selection %}
  @apply bg-blue-200;                                 {% if _.service.tailwindcss %}
  background-color: #ffeb3b;                          {% else %}{% endif %}
}
                                                      {% endif %}

.YellowTulipListViewItem--highlighted {               {% if __.has_highlight %}
  @apply font-bold;                                   {% if _.service.tailwindcss %}
  font-weight: 800;                                   {% else %}{% endif %}
}
                                                      {% endif %}
{% end_magic_with %}
