{% magic_with MyComponent = __.component_name %}
{% magic_with myItem = __.item_name %}


{% section imports %}
import React from 'react';
import { MyItemT } from '/src/api/types/MyItemT';
import { Tab, Tabs } from '/src/frames/components';
{% end_section %}



{% section preamble %}
    const [myItemIdx, setMyItemIdx] = React.useState<number>(0);

    const tabs = props.myItems.map((myItem, idx) => {
      return (
        <Tab
          key={myItem.id}
          active={idx === myItemIdx}
          onClick={() => setMyItemIdx(idx)}
        >
          { myItem.{{ __.display_field_name }} }                                                   {% ?? __.display_field_name %}
          Moonleap Todo                                                                            {% ?? not __.display_field_name %}
        </Tab>
      );
    });

    const myItemDivs = props.myItems.map((myItem, idx) => {                                        {% if __.uniform_tab_height %}
      {{ __.tab_instance_div }}
    });                                                                                            {% endif %}

    const noItems = (<h2 className="p-2">
      There are no {{ __.item_name|camel_to_kebab|plural }}
    </h2>);
{{ "" }}
{% end_section %}


{% section lines %}
    <Tabs className={cn("MyComponent__Tabs")}>{tabs}</Tabs>
    {myItemDivs.length === 0 && noItems}
    <div className={cn('MyComponent__Body')}>{myItemDivs}</div>
{% end_section %}


{% section scss %}
.MyComponent__Body {
    display: grid;
    grid-template-areas:
        "content";

    .MyComponent__Tab {
        grid-area: content;
    }
}
{% end_section %}
