{% magic_with rc.component_name as redRose %}
{% clean_up_js_imports %}
import React from 'react';
import { Router, Switch, Route } from 'react-router-dom';
import { observer } from 'mobx-react-lite';
import { createBrowserHistory } from 'history';
{{ sections.route_imports() }}
{% end_clean_up_js_imports %}

type PropsT = {};

export const history = createBrowserHistory();

export const UrlRouter: React.FC<PropsT> = observer((props: PropsT) => {
  return (
    <Router history={history}>
{{ sections.routes() }}
    </Router>
  );
});
{% end_magic_with %}
