.App {
  @apply mx-auto;                     {% if res.react_app.has_tailwind_css %}
  margin-left: auto;                  {% else %}
  margin-right: auto;
  width: 66.66667%;                   {% endif %}
}

.App__Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
