.App {
{% if res.react_app.has_tailwind_css %}
  @apply mx-auto;
{% else %}
  margin-left: auto;
  margin-right: auto;
  width: 66.66667%;
{% endif %}
}

.App__Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
