import './App.scss';
import 'src/frames/components/index.scss';
{% if res.react_app.routes_module %}
import { UrlRouter } from 'src/routes/components';
{% endif %}

export function App() {
  return (
    <div className="App w-screen {% if res.react_app.has_tailwind_css %}lg:w-2/3{% endif %}">
      <header className="App__Header">
{% if res.react_app.routes_module %}
        <UrlRouter />
{% endif %}
      </header>
    </div>
  );
}
