{% magic_with moduleName = module.name %}
import { Switch } from 'react-router-dom';
import { observer } from 'mobx-react-lite';
import { ModuleNameSwitch } from '/src/moduleName/components';                {% !! module in __.modules_with_routes %}

type PropsT = {};

export const RootSwitch = observer((props: PropsT) => {
  return (
    <>
      <ModuleNameSwitch />                                                   {% !! module in __.modules_with_routes %}
    </>
  );
});
