{% magic_with res.name as redRose %}
{% magic_with res.item_list.item_name as yellowTulip %}
{% clean_up_js_imports %}
import React from 'react';
import { observer } from 'mobx-react-lite';
import { FC, useDefaultProps } from 'react-default-props-context';
import { Selection } from 'skandha-facets/Selection';
import { Effect } from 'src/utils/components';
import * as R from 'ramda';
import { {{ _.item_ts_type }} } from '{{ _.item_ts_type_import_path }}';
{% end_clean_up_js_imports %}

{{ sections.effect_args() }}

type PropsT = {};

type DefaultPropsT = {
  yellowTulipsSelection: Selection;
{% if _.route_params and sections.get_item_id() %}
  yellowTulips: [{{ _.item_ts_type }}];
{% endif %}
};

export const RedRose: FC<PropsT, DefaultPropsT> = observer((p: PropsT) => {
  const props = useDefaultProps<PropsT, DefaultPropsT>(p);

  return (
    <Effect
      f={({{ sections.declare_params() }}: ArgsT) => {
          {{ sections.get_item_id() }};
          if (yellowTulipId) {
            props.yellowTulipsSelection.selectItem({ itemId: yellowTulipId});
          }
      }}
      getArgs={(params) => {
        return {
          {{ sections.extract_params() }}
        }
      }}
    />
  );
});
{% end_magic_with %}
{% end_magic_with %}
