{% for item_list in res.item_lists_provided %}
{{ graphene.sections.item_list_query(item_list) }}
{% endfor %}

{% for form in res.forms %}
{{ graphene.sections.form_mutation(form) }}
{% endfor %}

{% for item in res.items_received %}
{{ graphene.sections.post_item_mutation(item) }}
{% endfor %}
