{% magic_with _.component.item_name as yellowTulip %}
import { cn } from 'src/utils/classnames';
import { observer } from 'mobx-react-lite';
import { withDefaultProps } from 'react-default-props-context';
import { Selection } from 'skandha-facets/Selection';
import { Highlight } from 'skandha-facets/Highlight';

import { PickerValueT, ValuePicker } from 'src/utils/components/ValuePicker';
import { YellowTulipT } from 'src/api/types/YellowTulipT';

type PropsT = {
};

type DefaultPropsT = {
  yellowTulips: YellowTulipT[]
  yellowTulipsHighlight: Highlight
  yellowTulipsSelection: Selection
};

export const YellowTulipPicker = observer(
  withDefaultProps<PropsT, DefaultPropsT>((props: PropsT & DefaultPropsT) => {
    const onChange = (value: PickerValueT) => {
      if (value.__isNew__) {
        // TODO: add yellowTulip
      } else if (value.value) {
        props.yellowTulipsSelection.selectItem({
          itemId: value.value.id
        });
      }
    };

    return (
      <div className={cn('YellowTulipPicker', 'mt-2')}>
        <ValuePicker
          isMulti={false}
          isCreatable={true}
          pickableValues={props.yellowTulips}
          labelFromValue={(x: any) => x.name}
          pickableValue={props.yellowTulipsHighlight.item}
          onChange={onChange}
        />
      </div>
    );
  })
);
{% end_magic_with %}