{% magic_with item_type.name as yellowTulip %}
{% magic_with form.item_name as redRose %}
import graphene
from graphene.types.datetime import Date
from graphene_django.types import DjangoObjectType

from project_requests.models import ProjectRequest
from project_requests.utils import create_project_request


{% for item_type in res.item_types %}
class YellowTulipType(DjangoObjectType):
    class Meta:
        model = YellowTulip
        exclude = [{{ graphene.p_section_exclude(item_type.name) }}]

{% endfor %}

{% for form in res.forms %}
class RedRoseType(graphene.InputObjectType):
{{ graphene.p_section_graphene_fields(form.item_name) }}

{% endfor %}


class Query():
    pass


class Mutation():
    pass
{% end_magic_with %}
{% end_magic_with %}