{% magic_with myItem = __item_name %}


{#
Props
#}

{% section props %}
myItem={myItem}
isHighlighted={myItem && props.myItemsHighlight.id === myItem.id}                             {% ?? bvrs_has_highlight %}
onDelete={() => props.myItemsDeletion.delete([myItem.id])}                                    {% ?? bvrs_has_deletion %}
selectionUIProps={selectionUIConnector.handle(myItem.id)}                                     {% ?? bvrs_has_selection %}
dragAndDropUIProps={dragAndDropUIConnector.handle(myItem.id)}                                 {% ?? bvrs_has_drag_and_drop %}
onContextMenu={menuHandler.handleContextMenu(idx + 1)}                                        {% ?? context_menu %}
{% end_section %}
