{% magic_with res.item_name as yellowTulip %}
{% magic_with res.name as redRose %}
import React from 'react';
import { useStore } from 'src/app/components';
import { Effect, EffectWithoutArgs } from 'src/utils/components';

{% if res.route_params %}
{{ res.p_section_effect_args }}
{% endif %}

type PropsT = {};

export const RedRose: React.FC<PropsT> = (p: PropsT) => {
  const { api } = useStore();
  return (
{% if res.route_params %}
    <Effect
      {{ res.p_section_effect }}
    />
{% else %}
    <EffectWithoutArgs
      f={() => {
        api.getYellowTulip();
      }}
    />
{% endif %}
  );
};
{% end_magic_with %}
{% end_magic_with %}
