{% magic_with res.item_name as yellowTulip %}
{% magic_with res.name as redRose %}
import React from 'react';
import { Effect, EffectWithoutArgs } from 'src/utils/components';
{{ sections.import_query() }}

{% if res.route_params %}
{{ sections.effect_args() }}
{% endif %}

type PropsT = {};

export const RedRose: React.FC<PropsT> = (p: PropsT) => {
  return (
{% if res.route_params %}
    <Effect
      {{ sections.effect() }}
    />
{% else %}
    <EffectWithoutArgs
      f={() => {
        {{ sections.effect_without_args() }}
      }}
    />
{% endif %}
  );
};
{% end_magic_with %}
{% end_magic_with %}
