{% magicwith substore.module.name as gardenFlowers %}
{% magicwith substore.module.name as yellowTulip %}
import { observable, makeObservable } from 'mobx'
{% for substore in res.substores %}
import { GardenFlowersStore } from 'src/gardenFlowers/GardenFlowersStore'
{% endfor %}

export class AppStore {
{% for substore in res.substores %}
  @observable yellowTulipStore: YellowTulipStore;
{% endfor %}

  constructor() {
    makeObservable(this);

{% for substore in res.substores %}
    this.yellowTulipStore = new YellowTulipStore();
{% endfor %}

    this.applyPolicies();
  }

  applyPolicies() {
{{ res.policy_lines }}
  }
}
{% endmagicwith %}
{% endmagicwith %}