import React from 'react';
{% for substore in res.substores %}
import { {{ substore.name }} } from "{{ substore.import_path }}"
{% endfor %}

export class AppStore {
{% for substore in res.substores %}
  @observable {{ substore.name|untitle }}: {{ substore.name }};
{% endfor %}

  constructor() {
    makeObservable(this);

{% for substore in res.substores %}
    this.{{ substore.name|untitle }} = new {{ substore.name }}();
{% endfor %}

    this.applyPolicies();
  }

  applyPolicies() {
{{ res.policy_lines }}
  }
}
