{% magic_with substore.module.name as yellowTulip %}
{% magic_with substore.name as RedRose %}
import { observable, makeObservable } from 'mobx';
{% for substore in res.substores %}
import { RedRose } from '{{ substore.import_path }}/RedRose';
{% endfor %}
{% if res.policies %}
import * as Policies from '{{ res.import_path }}/policies';
{% endif %}

export class AppStore {
{% for substore in res.substores %}
  @observable yellowTulipStore: YellowTulipStore;
{% endfor %}

  constructor() {
    makeObservable(this);

{% for substore in res.substores %}
    this.yellowTulipStore = new YellowTulipStore();
{% endfor %}

    this.applyPolicies();
  }

  applyPolicies() {
{% for policy in res.policies %}
    Policies.{{ policy.name }}()(this);
{% endfor %}
  }
}
{% end_magic_with %}
{% end_magic_with %}