from api.types.{{ item_type.name | lower }}type import {{ item_type.name}}Type  # noqa              {% for item_type in __.type_reg.item_types %}{% endfor %}
from api.types.{{ item_type.name | lower }}formtype import {{ item_type.name }}FormType  # noqa     {% for item_type in _.type_reg.item_form_types %}{% endfor %}

