{% magic_with _.item_type.name as yellowTulip %}
{% clean_up_py_imports %}
import graphene
from graphene.types.generic import GenericScalar
{% end_clean_up_py_imports %}

class YellowTulipFormType(graphene.InputObjectType):
  field_spec_name = {{ field_spec.graphene_output_type("") }}           {% for field_spec in __.form_field_specs %}
  pass                                                                  {% empty %}{% endfor %}
{% end_magic_with %}
