{{ '{% block subject %}' }}Password reset on {{ '{{ project_name }}' }}{{ '{% endblock subject %}' }}
{% raw %}
{% block text_body %}{% endraw %}
You're receiving this email because you requested a password reset for your user account at {{ '{{ project_name }}' }}.
{% raw %}
Please go to the following page to choose a new password:
https://{{ domain }}/auth/reset-password/{{ result.password_reset_token }}

Thanks for using our platform!
{% endraw %}
The {{ project_name }} team{% raw %}
{% endblock text_body %}

{% block html_body %}{% endraw %}
<p>You're receiving this email because you requested a password reset for your user account at {{ '{{ project_name }}' }}.</p>
{% raw %}
<p>Please go to the following page and choose a new password:</p>
<a href="{{ domain }}/auth/reset-password/{{ result.password_reset_token }}">
https://{{ domain }}/auth/reset-password/{{ result.password_reset_token }}
</a>

<p>Thanks for using our platform!</p>

{% endraw %}
<p>The {{ '{{ project_name }}' }} team</p>
{{ '{% endblock html_body %}' }}
