import { FormState, useFormStateContext } from 'react-form-state-context';
import { primaryBigButton } from 'src/frames/components';
import { cn } from 'src/utils/classnames';

type PropsT = {
  label: string;
  dataCy: string;
  onClick?: (formState: FormState) => void;
  className?: any;
};

export const submitButton = primaryBigButton;

export const SubmitButton = (props: PropsT) => {
  const formState = useFormStateContext();
  const onClick = () => {
    if (props.onClick) {
      props.onClick(formState);
    } else {
      formState.submit();
    }
  };

  return (
    <button
      data-cy={props.dataCy}
      className={cn(
        'SubmitButton',
        submitButton,
        props.className
      )}
      onClick={onClick}
    >
      {props.label}
    </button>
  );
};
