        myNamedItem: () => {{ __.return_value(named_item) }},                                                   {% !! named_item in _.component.named_items %}
        myNamedListItems: () => {{ __.return_value(named_item_list) }},                                         {% !! named_item_list in _.component.named_item_lists %}
        myState: () => state,                                                                                   {% if __.state %}
        containerItems: () => {{ __.return_value(container, "items") }},                                        {% for container in __.state.containers %}{% ?? container.named_item_list %}
        containerItem: () => {{ __.return_value(container, "highlighted_item") }},                              {% ?? container.get_bvr("highlight") %}
        containerItemsDeletion: () => state.myContainer.deletion,                                               {% ?? container.get_bvr("deletion") %}
        containerItemsDragAndDrop: () => state.myContainer.dragAndDrop,                                         {% ?? container.get_bvr("dragAndDrop") %}
        containerItemsFiltering: () => state.myContainer.filtering,                                             {% ?? container.get_bvr("filtering") %}
        containerItemsHighlight: () => state.myContainer.highlight,                                             {% ?? container.get_bvr("highlight") %}
        containerItemsSelection: () => state.myContainer.selection,                                             {% ?? container.get_bvr("selection") %}{% endfor %}{% endif %}
