# Moonleap report

---
## Resources

{% for term, res, is_owner in resource_by_term %}
- <a href="{{ res.id }}.html">{{ term | term_to_word }}</a>
{% endfor %}

## Unmatched relations

{% for rel_str in unmatched_rel_strs %}
- {{ rel_str }}
{% endfor %}
