<a href="{{ index_fn }}">Index</a>

# {{ res.__class__.__name__ }}({{ res.term | term_to_word }})

---
## Properties

|                   |        |                                 |
| ----------------- | ------ | -------------------------------:|
{% for prop_name, prop_value in props.items() %}
| {{ prop_name }}   | :      |   {{ prop_value }}              |
{% endfor %}

## Relations (child)

|                               |                              |
| ----------------------------- | ----------------------------:|
{% for rel, rhs in child_relations %}
| {{ rel.verb | verb_to_word }} | <a href="{{ rhs.id }}.html">{{ rel.obj | term_to_word }}</a> |
{% endfor %}

## Relations (parent)

|                               |                              |
| ----------------------------- | ----------------------------:|
{% for rel, rhs in parent_relations %}
| <a href="{{ rhs.id }}.html">{{ rel.subj | term_to_word }}</a> | {{ rel.verb | verb_to_word }} |
{% endfor %}
