{% magic_with fk_field_spec.name as redRose %}
{% magic_with res.name as yellowTulip %}

import graphene                                                 {% clean_up_py_imports %}
from graphene_django.types import DjangoObjectType
{{ sections.graphql_type_imports() }}                           {% end_clean_up_py_imports %}

class YellowTulipType(DjangoObjectType):
    red_rose_id = graphene.ID()                                 {% for fk_field_spec in _.fk_field_specs_with_id %}{% endfor %}

    class Meta:
        model = YellowTulip
        {{ sections.graphql_type_exclude() }}

    def resolve_red_rose_id(self, info):                        {% for fk_field_spec in _.fk_field_specs_with_id %}
        return self.red_rose.id                                 {% endfor %}

{% end_magic_with %}
{% end_magic_with %}
