{% magic_with fk_field_spec.name|sn as red_rose %}
{% magic_with res.name as yellowTulip %}
{% clean_up_py_imports %}
import graphene
from graphene_django.types import DjangoObjectType
{{ sections.graphql_type_imports() }}
{% end_clean_up_py_imports %}

class YellowTulipType(DjangoObjectType):
{% for fk_field_spec in _.fk_field_specs %}
    red_rose_id = graphene.ID()
{% endfor %}

    class Meta:
        model = YellowTulip
        {{ sections.graphql_type_exclude() }}

{% for fk_field_spec in _.fk_field_specs %}
    def resolve_red_rose_id(self, info):
        return self.red_rose.id

{% endfor %}
{% end_magic_with %}
{% end_magic_with %}
