-r requirements.base.txt

black                                               {% if _.service.black %}{% endif %}

isort                                               {% if _.service.isort %}{% endif %}

ipython                                             {% if _.service.pudb %}
pudb                                                {% endif %}

pytest                                              {% if _.service.pytest %}
pytest-html                                         {% endif %}
