{% magic_with myContainer = _.container.name %}
{% magic_with myItem = _.container.item.item_name %}
import { input, output } from 'skandha';
import { MyItemByIdT, MyItemT } from 'src/api/types/MyItemT';
import { listToItemById } from 'src/utils/ids';

export class MyContainerData {
  static className = () => 'MyContainerData';

  @input myItems: Array<MyItemT> = [];
  @output myItemsDisplay: Array<MyItemT> = [];                          {% ?? _.container.get_bvr("filtering") or _.container.get_bvr("insertion") %}

  @output get myItemById(): MyItemByIdT {
    return listToItemById(this.myItems);                                {% ?? not (_.container.get_bvr("filtering") or _.container.get_bvr("insertion")) %}
    return listToItemById(this.myItemsDisplay);                         {% ?? _.container.get_bvr("filtering") or _.container.get_bvr("insertion") %}
  }
}
