{% magic_with myContainer = _.container.name %}
{% magic_with myItem = _.container.item_name %}
{% magic_with MyState = _.state.name %}
import { getIds } from '/src/utils/ids';
import { registerCtr } from 'skandha-mobx';
import { PropsT, MyState } from '/src/{{ _.module.name }}/MyState';
import { addCleanUpFunctionToCtr, cleanUpCtr, mapDataToProps } from 'skandha';
import * as FacetPolicies from 'skandha-facets/policies';
import { SelectionCbs, handleSelectItem } from 'skandha-facets/Selection';                              {% ?? _.container.selection_bvr %}
import { AdditionCbs } from 'skandha-facets/Addition';
import { HighlightCbs } from 'skandha-facets/Highlight';                                                {% ?? _.container.highlight_bvr %}
import { InsertionCbs } from 'skandha-facets/Insertion';                                                {% ?? _.container.insertion_bvr %}
import { DeletionCbs } from 'skandha-facets/Deletion';                                                  {% ?? _.container.deletion_bvr %}
import { EditCbs } from 'skandha-facets/Edit';                                                          {% ?? _.container.edit_bvr %}
import { setCallbackMap } from 'aspiration';
import { MyItemT } from '/src/api/types/MyItemT';                                                       {% ?? _.container.item_list %}

const mapData = (state: MyState) => {
  const ctr = state.myContainerCtr;

  const getMyItemById = (x: string | undefined) =>                                                    {% if _.container.selection_bvr or _.container.highlight_bvr %}
    x ? ctr.store.itemById[x] : undefined;
  {{ "" }}                                                                                            {% endif %}
  mapDataToProps(ctr, {                                                                               {% min_lines count=3 %}
    store: {                                                                                          {% if _.container.store_bvr %}
      items: () => state.props.getMyItems(),
    },                                                                                                {% endif %}
    selection: {                                                                                      {% if _.container.selection_bvr %}
        selectableIds:
          () => getIds(ctr.store.myItems),                                                            {% ?? not (_.container.filtering_bvr or _.container.insertion_bvr) %}
          () => getIds(ctr.store.myItemsDisplay),                                                     {% ?? _.container.filtering_bvr or _.container.insertion_bvr %}
        items:
          () => ctr.selection.ids.map(getMyItemById as any),
    },                                                                                                {% endif %}
    highlight: {                                                                                      {% if _.container.highlight_bvr %}
      item: () => getMyItemById(ctr.highlight.id),
      highlightableIds: () => getIds(ctr.store.items ?? []),
    },                                                                                                {% endif %}
    filtering: {                                                                                      {% if _.container.filtering_bvr %}
      inputItems: () => ctr.store.myItems,
    },                                                                                                {% endif %}
    insertion: {                                                                                      {% if _.container.insertion_bvr %}
      inputItems:
        () => ctr.filtering.filteredItems,                                                            {% ?? _.container.filtering_bvr %}
        () => ctr.store.myItems,                                                                      {% ?? not _.container.filtering_bvr %}
      preview:                                                                                        {% if _.container.addition_bvr and _.container.insertion_bvr %}
        () =>
          FacetPolicies.insertionPreviewUsesDragSources(
            [FacetPolicies.DragSourceFromNewItem],
            this.myItems
          )(this.myItems.insertion.inputItems)                                                        {% endif %}
    },                                                                                                {% endif %}
    display: {                                                                                        {% if _.container.display_bvr %}
      items:
        () => ctr.insertion.preview,                                                                  {% ?? _.container.insertion_bvr %}
        () => ctr.filtering.filteredItems,                                                            {% ?? not _.container.insertion_bvr and _.container.filtering_bvr %}
    },                                                                                                {% endif %}
  });                                                                                                 {% end_min_lines %}
}

const setCallbacks = (state: MyState) => {
  const ctr = state.myContainerCtr;
  addCleanUpFunctionToCtr(state, () => cleanUpCtr(ctr));

  setCallbackMap(ctr.addition, {                                                                        {% if _.container.addition_bvr %}
    add: {
      storeLocation() {
        FacetPolicies.newItemsAreAddedBelowTheHighlight(ctr.addition);
      },
      highlightNewItem() {
        ctr.selection.selectItem({ itemId: ctr.addition.item?.id });
        FacetPolicies.editingSetEnabled(ctr.addition);
      },
    },
    cancel: {
      restoreLocation() {
        FacetPolicies.editingSetDisabled(ctr.addition);
      },
    },
  } as AdditionCbs<MyItemT>);                                                                           {% endif %}

  setCallbackMap(ctr.deletion, {                                                                        {% if _.container.deletion_bvr %}
    delete: {
      deleteItems(this: DeletionCbs['delete']) {
        return state.props.deleteMyItems(this.itemIds);
      },
    },
  } as DeletionCbs);                                                                                    {% endif %}

  setCallbackMap(ctr.edit, {                                                                            {% if _.container.edit_bvr %}
    save: {
      saveItem(this: EditCbs['save']) {
        const values = this.values;
        return state.props.saveMyItem(values).then((localMyItem: MyItemT) => {
          FacetPolicies.newItemsAreConfirmedOnEditingSave(ctr.edit);
        });
      },
    },
    cancel: {
      exit() {
        FacetPolicies.newItemsAreCancelledOnEditingCancel(ctr.edit);
      },
    },
  } as EditCbs);                                                                                        {% endif %}

  setCallbackMap(ctr.highlight, {                                                                       {% if _.container.selection_bvr %}
    highlightItem: {                                                                                    {% if _.container.addition_bvr %}
      enter(this: HighlightCbs['highlightItem']) {
        FacetPolicies.cancelNewItemOnHighlightChange(ctr.highlight, this.id);
      },
    },                                                                                                  {% endif %}
  } as HighlightCbs);                                                                                   {% endif %}

  setCallbackMap(ctr.insertion, {                                                                       {% if _.container.insertion_bvr %}
    insertItems: {
      insertItems(myItems: MyItemT[]) {
        state.props.saveMyItemOrdering(myItems);
      },
    },
  } as InsertionCbs);                                                                                   {% endif %}

  setCallbackMap(ctr.selection, {                                                                       {% if _.container.selection_bvr %}
    selectItem: {
      selectItem(this: SelectionCbs['selectItem']) {
        handleSelectItem(ctr.selection, this.selectionParams);
        FacetPolicies.highlightFollowsSelection(                                                        {% if _.container.highlight_bvr %}
          ctr.selection,
          this.selectionParams
        );                                                                                              {% endif %}
      }
    },
  } as SelectionCbs);                                                                                   {% endif %}
}

export const registerMyContainerCtr = (state: MyState) => {
  registerCtr({
    ctr: state.myContainerCtr,
    options: { name: 'MyState.MyContainer' },
    initCtr: () => {
      setCallbacks(state);
      mapData(state);
    },
  });
}