        <div                                                                                          {% if __.deletion_bvr %}
          className={cn(
            'TodoListViewItem__Buttons',
            'flex flex-row justify-end items-center'
          )}
        >
          <button
            className={smallButton}
            onClick={() => {
              props.onDelete();
            }}
          >
            Delete
          </button>
        </div>                                                                                        {% endif %}
