{% magic_with res.item_name as yellowTulip %}
import React from "react";
import { YellowTulipsCtrContext } from "./YellowTulipsCtrProvider";

export const useYellowTulipsCtr = () => {
  const ctr = React.useContext(YellowTulipsCtrContext);
  if (!ctr) {
    throw new Error("useYellowTulipsCtr must be used within a YellowTulipsCtrProvider.");
  }
  return ctr;
};
{% end_magic_with %}
