{% magic_with _.query.name as myQuery %}
{% magic_with output_field_spec.name as outputFieldName %}
import pytest
from api.tests.graphqltestcase import GraphqlTestCase
from .create_my_query_query import create_my_query_query
{{ __.query_fixture_imports() }}

class TestMyQueryQuery(GraphqlTestCase):
{{ __.define_query_fixtures() }}

    @pytest.mark.django_db()
    def test_my_query__(
        self,
        client_query,
        output_field_name,                                                      {% !! output_field_spec in __.fk_output_field_specs %}
    ):
        query, operation_name, variables = create_my_query_query(
            {{ __.invoke_create_query_args() }}
        )
        response = client_query(query, operation_name=operation_name, variables=variables)

        # Check that the response is as expected
        data = response.json()['data']
        assert False, "Moonleap Todo"


{{ __.assert_query_response(output_field_spec) }}                               {% !! output_field_spec in __.output_field_specs %}

{% end_magic_with %}
{% end_magic_with %}
