{% magic_with res.fuction_name as yellowTulip %}
{% magic_with item.name as blueDaisy %}
{% magic_with item_list.item_name as redRose %}
export function getYellowTulip() {
  const queries = [];
  const vars = {};
{% trim_newlines keep=1 %}

{% for item in res.items %}
  queries.append(doQuery(`query queryBlueDaisy {
    id
    name
  }, vars))`;
{% endfor %}

{% for item_list in res.item_lists %}
  queries.append(doQuery(`query queryRedRoseList {
    redRoses {
      id
      name
    }
  }`, vars));
{% endfor %}

  return Promise.all(queries);
{% end_trim_newlines %}
}

export function saveYellowTulip(values: any) {
    console.log("TODO: save", values);
}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}