{% magic_with myItem = django_model.item_list.item_name %}
{% magic_with myField = field_spec.name %}
import faker
from {{ _.module.name|sn }}.models import MyItem                                    {% for django_model in _.module.django_models %}
from api.types.my_item_form_t import MyItemFormT                                    {% ?? __.has_form(django_model) %}{% endfor %}

f = faker.Faker()

def create_random_my_item(                                                          {% for django_model in _.module.django_models %}
    my_field_id,                                                                    {% for field_spec in __.get_field_specs(django_model.type_spec) %}{% ?? field_spec.field_type == "fk" %}{% endfor %}
):
    obj, created = MyItem.objects.get_or_create(
        my_field_id=my_field_id,                                                    {% for field_spec in __.get_field_specs(django_model.type_spec) %}{% if field_spec.field_type == "fk" %}
        my_field={{ __.get_faker_value(field_spec) }},                              {% else %}{% endif %}{% endfor %}
    )
    return obj
                                                                                    {% if __.has_form(django_model) %}
def create_random_my_item_form():
    return MyItemFormT(
        my_field={{ __.get_faker_value(field_spec) }},                              {% !! field_spec in __.get_field_specs(django_model.form_field_spec) %}
    )                                                                               {% endif %}

                                                                                    {% endfor %}
