{% magic_with django_model.item_list.item_name as redRose %}
import faker
from {{ _.module.name|sn }}.models import RedRose                                   {% !! django_model in _.module.django_models %}

f = faker.Faker()

def create_random_red_rose({{ __.create_random_args(django_model) }}):              {% for django_model in _.module.django_models %}
    obj, created = RedRose.objects.get_or_create(
        {{ __.create_random_body(django_model, snake_args=True) }}
    )
    return obj
                                                                                    {% endfor %}
{% end_magic_with %}
