.Card {
  @apply m-2 p-4;                     {% if res.react_app.has_tailwind_css %}
  @apply bg-gray-200;
  padding: 8px;                       {% else %}
  margin: 16px;
  background-color: #cccccc;          {% endif %}
}
