{{ '{% block subject %}' }}You've requested a link to sign into {{ '{{ project_name }}' }}!{{ '{% endblock subject %}' }}
{% raw %}
{% block text_body %}
You can use the following link to sign in:
{{ domain }}/auth/sign-in/{{ result.magic_link_token }}
{% endraw %}
The {{ project_name }} team{% raw %}
{% endblock text_body %}

{% block html_body %}

<p>You can use the following link to sign in:</p>
<p><a href="{{ domain }}/auth/sign-in/{{ result.magic_link_token }}">
{{ domain }}/auth/sign-in/{{ result.magic_link_token }}
</a></p>

{% endraw %}
<p>The {{ '{{ project_name }}' }} team</p>
{{ '{% endblock html_body %}' }}
