{% trim_newlines keep=1 %}
import datetime

AUTHENTICATION_BACKENDS = [
    "{{ x }}",                                     {% for x in res.get_setting_or([], ['auth', 'AUTHENTICATION_BACKENDS']) %}{% endfor %}
    "django.contrib.auth.backends.ModelBackend",
]

{{ setting_block }}                                {% for setting_block in res.get_setting_or([], ['auth', 'blocks']) %}{% endfor %}

AUTH_USER_MODEL = "users.User"

TERMS_VERSION = "15-08-2021"
{% end_trim_newlines %}
