DJANGO_APPS = [
    "django.contrib.auth",
    "django.contrib.contenttypes",
    "django.contrib.sessions",
    "django.contrib.admin",
    "django.contrib.sites",
    "django.contrib.sitemaps",
    "django.contrib.staticfiles",
    "django.contrib.messages",
]

THIRD_PARTY_APPS = [
    "corsheaders",
    "django_extensions",                                                {% if res.use_django_extensions %}{% endif %}
    "{{ x }}",                                                          {% for x in res.third_party_apps %}{% endfor %}
]

LOCAL_APPS = [
    "{{ x }}",                                                          {% for x in res.local_apps %}{% endfor %}
]

# https://docs.djangoproject.com/en/dev/ref/settings/#installed-apps
INSTALLED_APPS = DJANGO_APPS + THIRD_PARTY_APPS + LOCAL_APPS
