{% magic_with res.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
export { YellowTulipListView } from './YellowTulipListView'
export { YellowTulipListViewItem } from './YellowTulipListViewItem'
{% end_magic_with %}
{% end_magic_with %}
