{% magic_with res.item_name as yellowTulip %}
{% magic_with res.module.name as gardenFlowers %}
import React from 'react';
import classnames from 'classnames';
import { observer } from 'mobx-react-lite';
import { YellowTulipT } from 'src/gardenFlowers/types';

import "./YellowTulipListViewItem.css"

export type PropsT = {
  yellowTulip: YellowTulipT;
};

export const YellowTulipListViewItem: React.FC<PropsT> = observer((props: PropsT) => {
  return (
    <div className={classnames('YellowTulipListViewItem flex flex-row flex-1 mb-2')}>
        {props.yellowTulip.name}
    </div>
  );
});
{% end_magic_with %}
{% end_magic_with %}
