from django.apps import AppConfig
from app.tr import tr                                               {% ?? _.django_app.use_translation %}


class AccountsConfig(AppConfig):
    name = "accounts"
    verbose_name = tr("accounts")                                   {% ?? _.django_app.use_translation %}