from django.apps import AppConfig
from app.tr import tr                                               {% ?? _.django_app.use_translation %}


class AccountsConfig(AppConfig):
    name = "user_accounts"
    verbose_name = tr("user-accounts")                              {% ?? _.django_app.use_translation %}