{% magic_with res.state.name as yellowTulip %}
{% magic_with item_name as redRose %}
{% magic_with store.name as BlueDaisy %}
import * as React from 'react';
import { reaction } from 'mobx';
import { observer } from 'mobx-react-lite';
import { values } from 'lodash/fp';

import { YellowTulipState } from '{{ res.module_path }}/YellowTulipState';
import { CtrProvider } from 'react-default-props-context';
import { useStore } from 'src/app/components';

type PropsT = React.PropsWithChildren<{}>;

export const YellowTulipStateProvider: React.FC<PropsT> = observer((props: PropsT) => {
  const {
{% for item_name, store in res.state.store_by_item_name.items() %}
    blueDaisy,
{% endfor %}
  } = useStore();

  const createState = () => {
    return new YellowTulipState({
{% for item_name, store in res.state.store_by_item_name.items() %}
      blueDaisy,
{% endfor %}
    });
  };

  const updateState = (state: YellowTulipState) => {
    reaction(
      () => ({
{% for item_name, store in res.state.store_by_item_name.items() %}
        redRoses: values(blueDaisy.redRoseById),
{% endfor %}
      }),
      (inputs) => {
{% for item_name, store in res.state.store_by_item_name.items() %}
        state.inputs.redRoses = inputs.redRoses;
{% endfor %}
      },
      {
        fireImmediately: true,
      }
    );
  };

  const getDefaultProps = (state: YellowTulipState) => {
    return {
{{ res.default_props_section }}
    };
  };

  return (
    <CtrProvider
      createCtr={createState}
      updateCtr={updateState}
      destroyCtr={(state: YellowTulipState) => state.destroy()}
      getDefaultProps={getDefaultProps}
    >
      {props.children}
    </CtrProvider>
  );
});
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
