{% magic_with res.state.name as yellowTulip %}
{% magic_with item_name as redRose %}
{% magic_with store.name as BlueDaisy %}
{% magic_with res.module.name as gardenFlowers %}
import * as React from 'react';
import { reaction } from 'mobx';

import { YellowTulipState } from 'src/gardenFlowers/YellowTulipState';
import { StateProvider } from 'react-default-props-context';
import { useStore } from 'src/app/components';

type PropsT = React.PropsWithChildren<{}>;

// Note: don't observe this with MobX
export const YellowTulipStateProvider: React.FC<PropsT> = (props: PropsT) => {
  const {
{% for item_name, store in res.state.store_by_item_name.items() %}
    blueDaisy,
{% endfor %}
  } = useStore();

  const createState = () => {
    return new YellowTulipState({
{% for item_name, store in res.state.store_by_item_name.items() %}
      blueDaisy,
{% endfor %}
    });
  };

  const updateState = (state: YellowTulipsState) => {
    reaction(
      () => ({
{% for item_name, store in res.state.store_by_item_name.items() %}
        redRoses = values(blueDaisy.redRoseById),
{% endfor %}
      }),
      (inputs) => {
{% for item_name, store in res.state.store_by_item_name.items() %}
        state.inputs.redRoses = inputs.redRoses;
{% endfor %}
      },
      {
        fireImmediately: true,
      }
    );
  };

  const getDefaultProps = (state: YellowTulipState) => {
    return {
      yellowTulipState: () => state,
      yellowTulip: () => state.highlight.item,
      yellowTulipRS: () => gardenFlowersStore.yellowTulipByIdRS,
      yellowTulips: () => state.outputs.display,
      yellowTulipsRS: () => gardenFlowersStore.yellowTulipByIdRS,
      yellowTulipsSelection: () => state.selection,
    };
  };

  return (
    <StateProvider
      createState={createState}
      updateState={updateState}
      destroyState={(state) => state.destroy()}
      getDefaultProps={getDefaultProps}
    >
      {props.children}
    </StateProvider>
  );
};
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
