{% magic_with res.state.name as yellowTulip %}
import React from "react";
import { YellowTulipStateContext } from "./YellowTulipStateProvider";

export const useYellowTulipState = () => {
  const state = React.useContext(YellowTulipStateContext);
  if (!state) {
    throw new Error("useYellowTulipState must be used within a YellowTulipStateProvider.");
  }
  return state;
};
{% end_magic_with %}
