#																					{% if _.service.has_django_app %}
# Django
#

collect-static:
	python manage.py collectstatic --link

create-superuser:
	python manage.py createsuperuser --noinput || true

dump-db:																			{% if _.service.django_app.db_backup %}
	mkdir -p /app/dumps && python manage.py dbbackup								{% endif %}

make-migrations-users:																{% if _.service.django_app.get_module_by_name("users", None) %}
	python manage.py makemigrations users

																					{% endif %}
migrate:
	python manage.py migrate

run-server:
	python manage.py runserver 0.0.0.0:{{ _.service.ports.django_app }}

uninstall-editable-packages:														{% if _.service.pypi_source_maps %}
	pip uninstall --yes {{ name }}                                                  {% !! name, src_dir in _.service.pypi_source_maps.items() %}

install-editable-packages: uninstall-editable-packages
	pip install -e /pypi/{{ name }}                                                 {% !! name, src_dir in _.service.pypi_source_maps.items() %}

																					{% endif %}
																					{% endif %}
