page = {
    "{{ translation_id }}": {           {% for translation_id, value in __.translations %}
        #
        "v": 1,
        "en_1": "{{ value }}",
        "de_0": "{{ value }}",
    },                                  {% endfor %}
}
