{% magic_with item_name as myItem %}


{% section imports %}
import { PickerValueT, ValuePicker } from 'src/utils/components/ValuePicker';
import { useValuePickerState } from 'src/utils/hooks/useValuePickerState';
import { MyItemT } from 'src/api/types/MyItemT';                                {% ?? update_url %}
{% end_section %}


{% section props %}
    updateUrl?: (myItem: MyItemT) => void;                                      {% ?? update_url %}
{% end_section %}


{% section preamble_hooks %}
    const state = useValuePickerState<MyItemT>({
      selection: props.myItemsSelection,                            {% if bvrs_has_selection %}
      highlight: props.myItemsHighlight,                            {% elif bvrs_has_highlight %}{% endif %}
      updateUrl: props.updateUrl,
    });
    {{ "" }}
{% end_section %}


{% section preamble %}
    const onChange = (value: PickerValueT) => {
      if (value.__isNew__) {
        // Moonleap Todo: add myItem
      } else if (value.value) {
        state.setItem(value.value);
      }
    };
    {{ "" }}
{% end_section %}


{% section lines %}
    <ValuePicker
        isMulti={false}
        isCreatable={true}
        pickableValues={ props.myItems }
        labelFromValue={(x: any) => x.name}
        pickableValue={props.myItemsHighlight.item}
        onChange={onChange}
    />
{% end_section %}


{% end_magic_with %}
