{% magic_with __.item_name as myItem %}


{% section preamble %}
    const onChange = (value: PickerValueT) => {
      if (value.__isNew__) {
        // Moonleap Todo: add myItem
      } else if (value.value) {
        props.myItemsSelection.selectItem({                           {% if __.bvrs_has_selection %}
          itemId: value.value.id
        });
        props.myItemsHighlight.id = value.value.id;                   {% elif __.bvrs_has_highlight %}{% endif %}
        props.updateUrl && props.updateUrl(value.value);              {% ?? __.update_url %}
      }
    };
    {{ "" }}
{% end_section %}


{% section lines %}
    <ValuePicker
        isMulti={false}
        isCreatable={true}
        pickableValues={ props.myItems }
        labelFromValue={(x: any) => x.name}
        pickableValue={props.myItemsHighlight.item}
        onChange={onChange}
    />
{% end_section %}


{% section imports %}
import { PickerValueT, ValuePicker } from 'src/utils/components/ValuePicker';
import { MyItemT } from 'src/api/types/MyItemT';                                {% ?? __.update_url %}
{% end_section %}


{% section props %}
    updateUrl?: (myItem: MyItemT) => void;                                      {% ?? __.update_url %}
{% end_section %}


{% end_magic_with %}
