from argparse import ArgumentParser

from dodo_commands import Dodo


def _args():  # noqa
    parser = ArgumentParser(description=("Initialize the {{ res.name }} project."))
    args = Dodo.parse_args(parser)
    return args


if Dodo.is_main(__name__):
    args = _args()
{% for service in res.services %}
    Dodo.run(["dodo", "{{ service.name }}.make", "init"])
{% endfor %}
