{% trim_newlines keep=1 %}
import datetime

AUTHENTICATION_BACKENDS = [
{% for x in res.get_setting_or([], ['auth', 'AUTHENTICATION_BACKENDS']) %}
    "{{ x }}",
{% endfor %}
    "django.contrib.auth.backends.ModelBackend",
]

{% for setting_block in res.get_setting_or([], ['auth', 'blocks']) %}
{{ setting_block }}
{% endfor %}

AUTH_USER_MODEL = "users.User"
{% end_trim_newlines %}