@tailwind base;                                                             {% if _.service.tailwindcss %}
@tailwind components;
@tailwind utilities;                                                        {% endif %}

// 1. UIKit rules (this also imports various scss variables)                {% if _.service.uikit %}
@import 'src/frames/styles/uikit.scss';                                     {% endif %}
