{% magic_with module.name as fooModule %}
{% magic_with query.name as fooQuery %}
{% clean_up_py_imports %}
import graphene
from graphene.types.generic import GenericScalar
{% end_clean_up_py_imports %}
from .{{ query.name|lower }} import FooQuery                              {% for query in _.gql_reg.queries %}{% endfor %}
import foo_module.schema                                                  {% for module in __.modules %}{% endfor %}


class GrapheneNonEmptyQuery(graphene.ObjectType):
    test_query = graphene.Field(graphene.String)

    def resolve_test_query(self, info, **kwargs):
        return "Hello world"


class Query(
    foo_module.schema.Query,                                              {% for module in __.modules %}{% endfor %}
    FooQuery,                                                             {% for query in _.gql_reg.queries %}{% endfor %}
    GrapheneNonEmptyQuery
):
    pass

{% end_magic_with %}
{% end_magic_with %}