{% magic_with item_type.name as yellowTulip %}
{% magic_with item_list.item_name as redRose %}
import { always, flow } from 'lodash/fp';
import { doQuery } from 'src/utils/graphqlClient';

{% for item_list in res.module.store.item_lists %}
export function getRedRoses() {
  const query = `query queryRedRoses {
    redRoses {
      id
      name
    }
  }`;
  const vars = {};
  return doQuery(query, vars).then((response) => {
    return {
      redRoses: flow(
        always(response.redRoses),
      )(),
    };
  });
}

export function saveRedRose(values: any) {
    console.log("TODO: save", values);
}
{% endfor %}
{% end_magic_with %}
{% end_magic_with %}