{% magic_with item_list.item_name as redRose %}
import { normalize, schema } from 'normalizr';
import { ApiBase } from 'src/api/ApiBase';
import { ObjT } from 'src/utils/types';

{% for item_list in res.item_lists %}
const redRose = new schema.Entity('redRose');
const redRoseList = new schema.Array(redRose);
{% endfor %}

export class Api extends ApiBase {
{% for item_list in res.item_lists %}
  getRedRoses() {
    return this._doQuery(
      'getRedRoses',
      `query getRedRoses {
        redRoses {
          id
          name
        }
      }`,
      {},
      (response: ObjT) => normalize(response.redRoses, redRoseList).entities,
      (error: ObjT) => error.response.errors[0].message
    );
  }
{% endfor %}
}
{% end_magic_with %}