{% if not res.module.store.item_types %}
export {}
{% endif %}
{% for dataloader in res.dataloaders %}
{% if loop.first %}
import { always, flow } from 'lodash/fp';
import { doQuery } from 'src/utils/graphqlClient';
{% endif %}
{{ dataloader.body }}
{% endfor %}
