{% magic_with item_type.name as yellowTulip %}
from django.db import models
{% for item_type in res.item_types %}
{{ res.sections.model_imports(item_type.name)}}
{% endfor %}

from app.models import Entity

{% for item_type in res.item_types %}
class YellowTulip(Entity):
{{ res.sections.model_fields(item_type.name)}}

{% endfor %}
{% end_magic_with %}
