{% clean_up_js_imports %}
import { normalize, schema } from 'normalizr';
import { ApiBase } from 'src/api/ApiBase';
import { ObjT } from 'src/utils/types';
{% end_clean_up_js_imports %}

{{ res.sections.schemas() }}

export class Api extends ApiBase {
{{ res.sections.queries() }}
{{ res.sections.mutations() }}
}
