import type { RoutesT as AuthRoutesT } from '/src/auth/routeTable';
import { RouterLink } from '/src/routes/components';
import { getRoutes } from '/src/routes/routeTable';

export const useMessages = () => {
  const routes = getRoutes<AuthRoutesT>();

  const divTheActivationFailed = (
    <div>
      The activation failed, probably because your account is already active.{' '}
      Please try to <RouterLink to={routes.signIn()}>sign in</RouterLink> or{' '}
      <RouterLink to={routes.requestPasswordReset()}>
        reset your password
      </RouterLink>
      .
    </div>
  );

  return {
    messages: {
      divSorryThatPasswordIsTooShort: 'Sorry, that password is too short',
      divUsernameAlreadyTaken: 'Sorry, that username is already taken',                                                 {% ?? _.module.uses_username %}
      divTheActivationFailed,
      divSorryTechnicalError:
        'Sorry, there seems to be a technical problem. ' +
        'Check your internet connection, or try again later.',
      pleaseProvideANewPassword: 'Please provide a new password',
      sorryThatPasswordIsTooShort: 'Sorry, that password is too short',
      divYouAreOneStepAway:
        'You are one step away from activating your account. To proceed, please choose a username and password.',       {% ?? _.module.uses_username %}
        'You are one step away from activating your account. To proceed, please choose a password.',                    {% ?? not _.module.uses_username %}
    },
  };
};
