{% magic_with myBvr = bvr.name %}
{% magic_with myFacet = bvr.facet_name %}
{% magic_with myContainer = container.name %}
{% magic_with myItem = container.item_name %}
{% magic_with MyState = _.state.name %}
import { makeObservable } from 'mobx';
import { addCleanUpFunctionToCtr, cleanUpCtr, mapDataToProps, pmap } from 'skandha';
import * as Skandha from 'skandha';
import * as FacetPolicies from 'skandha-facets/policies';
import { registerCtr } from 'skandha-mobx';
import { MyItemT } from '/src/api/types/MyItemT';                                                       {% for container in __.containers %}{% ?? container.item_list %}{% endfor %}
import { getIds } from '/src/utils/ids';
import { ObjT } from '/src/utils/types';
import * as Facets from 'skandha-facets';
import {
  Addition                                                                                              {% ?? __.import_bvr("addition") %}
  Deletion,                                                                                             {% ?? __.import_bvr("deletion") %}
  DragAndDrop,                                                                                          {% ?? __.import_bvr("dragAndDrop") %}
  Edit,                                                                                                 {% ?? __.import_bvr("edit") %}
  Filtering,                                                                                            {% ?? __.import_bvr("filtering") %}
  Highlight,                                                                                            {% ?? __.import_bvr ("highlight") %}
  Hovering,                                                                                             {% ?? __.import_bvr("hovering") %}
  Insertion,                                                                                            {% ?? __.import_bvr("insertion") %}
  Selection                                                                                             {% ?? __.import_bvr("selection") %}
  Store                                                                                                 {% ?? __.import_bvr("store") %}
   } from 'skandha-facets';
import { {{ bvr.name|u0 }} } from './facets/{{ bvr.name|u0 }}';                                         {% !! bvr in __.other_bvrs %}
import { registerMyContainerCtr } from './registerMyContainerCtr';                                      {% !! container in __.containers %}

export type PropsT = {
  deleteMyItems: (ids: string[]) => Promise<any>;                                                       {% for container in __.containers %}{% ?? container.get_bvr("deletion") %}
  saveMyItem: (values: ObjT) => Promise<MyItemT>;                                                       {% ?? container.get_bvr("edit") and container.item_list %}
  saveMyItemOrdering: (myItems: MyItemT[]) => Promise<any>;                                             {% ?? container.get_bvr("dragAndDrop") and container.item_list %}{% endfor %}
};

export class MyState {
  props: PropsT;

  myContainerCtr = {                                                                                    {% for container in __.containers %}
    myFacet: new MyBvr{% if bvr.has_param %}<MyItemT>{% endif %}(),                                     {% !! bvr in container.bvrs|sort(attribute="name") %}
  }
  {{ "" }}                                                                                              {% endfor %}

  getSummary() {
    return {
      myContainer: Skandha.getCtrState(this.myContainerCtr),                                            {% !! container in __.containers %}
    }
  }

  destroy() {
    Skandha.cleanUpCtr(this);
  }

  constructor(props: PropsT) {
    this.props = props;
    registerMyContainerCtr(this);                                                                       {% !! container in __.containers %}
  }
}
