{% magic_with item_type.name as yellowTulip %}
export const typeDefsStr = `
{% for item_type in res.item_types %}
  type YellowTulip {
    id: ID!
    name: String
  }
`;

{% endfor %}
{% end_magic_with %}
