{% magicwith item.name as yellowTulip %}
import { gql } from 'apollo-server';

export const typeDefs = gql`
{% for item in res.items %}
  type YellowTulip {
    id: String!
    name: String
  }
`;
{% endfor %}
{% endmagicwith %}
