{% magic_with field_spec.target as FieldSpecTarget %}


{% section lines %}
    <Field
      fieldName="{{ name }}"
      label="{{ get_label(name) }}"
      buttons={[                                                                                  {% if field_spec.field_type in ("slug",) %}
        <UpdateSlugButton
          key="1"
          relatedFieldName="{{ get_slug_src(fields, field_spec) }}"
        />
      ]}                                                                                          {% endif %}
    >
      <TextField controlled={true} />                                                             {% ?? field_spec.field_type in ("string", "text", "url") %}
      <SlugField />                                                                               {% ?? field_spec.field_type in ("slug",) %}
      <ValuePickerField                                                                           {% if field_spec.field_type in ("uuid",) and field_spec.target %}
        isCreatable={false}
        isMulti={false}
        pickableValues={props.fieldSpecTargets}
        pickableValue={initialValues['{{ name }}']}
        labelFromValue={(x: any) => x.{{ get_display_field_name(field_spec.target_type_spec) }}}
      />                                                                                          {% endif %}
      <div className="flex flex-row items-begin mt-1"><ControlledCheckbox /></div>                {% ?? field_spec.field_type in ("boolean",) %}
    </Field>
{% end_section %}


{% end_magic_with %}
