{% magic_with res.fun_name as getRedRose %}
import { useQuery } from 'react-query';
import { useQueryData } from 'src/api/components';
import { doQuery } from 'src/utils/graphqlClient';
import { ObjT } from 'src/utils/types';

export const getRedRose = ({{ sections.javascript_args() }}) => {
  return doQuery(
    `query {{ res.name }}{{ sections.ts_graphql_query_args(True) }} {
        {{ output_field_spec.name }}{{ sections.ts_graphql_query_args(False) }} {         {% for output_field_spec in res.outputs_type_spec.get_field_specs(['fk', 'relatedSet']) %}
          {{ sections.ts_graphql_query_body(output_field_spec) }}
        }                                                                                 {% endfor %}
    }`,
    {
{{ sections.graphql_variables() }}
    }).then(
    (response: ObjT) => {
      return response;
    });
}

export const useGetRedRose = ({{ sections.javascript_args() }}) => {
  const query = useQuery(
    ['getRedRose',
    {{ sections.use_javascript_args() }}],
    () => getRedRose({{ sections.use_javascript_args() }})
  );
  return useQueryData(query);
};
{% end_magic_with %}