import graphene

{{ res.sections.imports() }}

class Query({{ res.sections.base_classes("Query") }}):
    pass

class Mutation({{ res.sections.base_classes("Mutation") }}):
    pass


schema = graphene.Schema(query=Query, mutation=Mutation)
