import graphene

{{ res.sections.imports() }}

class Query({{ res.sections.query_base_classes() }}):
    pass

class Mutation({{ res.sections.mutation_base_classes() }}):
    pass


schema = graphene.Schema({{ res.sections.schema_args() }})
