import { normalize, schema } from 'normalizr';
import { apiBase } from 'src/api/ApiBase';
import { ObjT } from 'src/utils/types';
{{ sections_datatype.schema_imports(outputs_item_name) }}

export const {{ outputs_item_name }} = new schema.Entity('{{ outputs_item_name }}');
{{ sections_datatype.define_fields(outputs_item_name) }}

export const {{ query.fun_name }} = ({{ sections.javascript_args(query) }}) => {
  return apiBase.doQuery(
    '{{ query.fun_name }}',
    `query {{ query.name }}{{ sections.graphql_args(query, True) }} {
        {{ query.name }}{{ sections.graphql_args(query, False) }} {
{{ sections.graphql_body(query) }}
        }
    }`,
    {
{{ sections.graphql_variables(query) }}
    },
    (response: ObjT) => {
{{ sections.graphql_response(query) }}
    },
    (error: ObjT) => error.response.errors[0].message
  );
}