import { schema } from 'normalizr';
{{ sections_datatype.schema_imports(outputs_item_name) }}

export const {{ outputs_item_name }} = new schema.Entity('{{ outputs_item_name }}');
{{ sections_datatype.define_fields(outputs_item_name) }}

export const {{ query.name }} = ({{ sections.javascript_args(query) }}) => {
  return apiBase.doQuery(
    '{{ query.name }}',
    `query {{ query.name }}({{ sections.graphql_args(query, True) }}) {
        {{ query.name }}({{ sections.graphql_args(query, False) }}) {
{{ sections.graphql_body(query) }}
        }
    }`,
    {
{{ sections.graphql_variables(query) }}
    },
    (response: ObjT) => {
{{ sections.graphql_response(query) }}
    },
    (error: ObjT) => error.response.errors[0].message
  );
}