{% sort_lines %}
psycopg2-binary                                                   {% ?? _.service.is_dependent_on("postgres") %}
{% include_snippet '__moonleap__/base.in.django.j2' %}
{% end_sort_lines %}
